
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Inventory/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link href="~/Content/assets/css/components.css" rel="stylesheet" />
<link href="~/Content/assets/css/core.css" rel="stylesheet" />
<link href="~/Content/assets/css/colors.css" rel="stylesheet" />
<link href="~/Content/download/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<script src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
<script src="~/Content/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<script src="~/Content/assets/js/plugins/ui/moment/moment.min.js"></script>
<script src="~/Content/assets/js/plugins/pickers/datepicker.js"></script>
<script src="~/Content/assets/js/plugins/pickers/daterangepicker.js"></script>
<script src="~/Content/Scripts/daterangepicker.js"></script>
<script src="~/Content/Scripts/moment.min.js"></script>
<script src="~/Content/download/date_directive.js"></script>
<script src="~/Content/download/bootstrap-datetimepicker.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="~/Content/self-writing/js/Controllers/GiuHangCtrl.js"></script>
<style>
    .md-pane-open {
        z-index: 9999;
    }
    #thongtin td{
        border: 1px solid black;
    }
</style>

<div ng-app="myApp" ng-controller="GiuHangHopLongCtrl">
    <div class="content">
        <input type="hidden" value="@Session["MA_CONG_TY"]" id="macongty" />
        <input type="hidden" name="macongty" id="macongty" value="@Session["MA_CONG_TY"]">
        <div class="content">
            <button class="primary" style="margin-bottom:5px" data-toggle="modal" data-target="#themgiuhangmodal">Thêm giữ hàng</button>
            <br />
            <table border="1" cellpadding="10" cellspacing="0">
                <tbody>
                    <tr height="20">
                        <th align="center" height="20" style="height:20px;width:10%;">Người giữ</th>
                        <th align="center" style="width:40%;">Tên khách</th>
                        <th align="center" style="width:10%;">Mã hàng</th>
                        <th align="center" style="width:5%;">SL giữ</th>
                        <th align="center" style="width:10%;">Ngày giữ</th>
                        <th align="center" style="width:10%;">Ngày xuất</th>
                        <th align="center" style="width:5%;">Giữ PO?</th>
                        <th align="center" style="width:5%;">Đã xuất</th>
                        <th align="center" style="width:5%;">Đã hủy giữ</th>
                    </tr>
                    <tr ng-repeat="item in ListDataGiuKho">
                        <td>{{item.TEN_SALES_GIU}}</td>
                        <td>{{item.TEN_KHACH_HANG}}</td>
                        <td>{{item.TEN_HANG}}</td>
                        <td>{{item.SL_GIU}}</td>
                        <td>{{item.NGAY_GIU| date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.NGAY_XUAT| date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.GIU_PO}}</td>
                        <td>{{item.DA_XUAT}}</td>
                        <td>{{item.DA_HUY_GIU}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="themgiuhangmodal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-md" style="width: 50%">
                <div class="modal-content" style="width: 100%">
                    <div class="modal-header">
                        Thêm mới hàng giữ
                    </div>
                    <div class="modal-body">
                        <table border="1" cellpadding="0" cellspacing="0">

                            <tbody>
                                <tr>
                                    <td align="center" style="width:20%;background:#00BFFF; color:white; font-weight:bold">Sale giữ</td>
                                    <td style="width:20%;">
                                        <div>
                                            <div class="has-feedback showtableselect" ng-click="ShowDataNhanVien()">
                                                <input type="text" ng-model="GeneralInfo.Username" class="form-control showtableselect">
                                                <div class="form-control-feedback">
                                                    <i class="icon-arrow-down5"></i>
                                                </div>
                                            </div>
                                            <div class="tableselect" id="DataNhanVien" style="display:none;min-width: 250px;">
                                                <table class="table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:30%">Mã nhân viên</th>
                                                            <th style="width:30%">Tên nhân viên</th>
                                                            <th style="width:20%">Phòng ban</th>
                                                            <th style="width:20%">Điện thoại</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in NhanVien| filter:GeneralInfo.Username" ng-click="SelectDataNhanVien(item)">
                                                            <td>{{item.USERNAME}}</td>
                                                            <td>{{item.HO_VA_TEN}}</td>
                                                            <td>{{item.PHONG_BAN}}</td>
                                                            <td>{{item.SDT}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                    <td><input type="text" readonly class="form-control" ng-model="GeneralInfo.NhanVienBanHang"></td>
                                   
                                    <td align="center" style="background:#00BFFF; color:white; font-weight:bold">Ngày giữ</td>
                                    <td><input type="text" datepicker style="border:none;" ng-model="GeneralInfo.ngay_giu" /></td>
                                </tr>
                                <tr>
                                    <td align="center" style="width:10%; background:#00BFFF; color:white; font-weight:bold">Khách hàng</td>
                                    <td align="left" style="width:20%;">
                                            <div class="has-feedback showtableselect" ng-click="ShowKhachHang()">
                                                <input type="text" ng-model="GeneralInfo.KhachHang" class="form-control showtableselect" ng-change="SearchKH(GeneralInfo.KhachHang)">
                                                <div class="form-control-feedback">
                                                    <i class="icon-arrow-down5"></i>
                                                </div>
                                            </div>
                                            <div class="tableselect" id="KhachHang" style="display:none;width: 50% !important">
                                                <table class="table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:20%">Mã khách hàng</th>
                                                            <th style="width:20%">Tên khách hàng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in KhachHang.KhachHang" ng-click="SelectKhachHang(item)">
                                                            <td>{{item.MA_KHACH_HANG}}</td>
                                                            <td>{{item.TEN_CONG_TY}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                        </div>
                                    </td>
                                    <td colspan="4"><input type="text" readonly class="form-control" ng-model="GeneralInfo.TenDoiTuong"></td>
                                </tr>
                                <tr height="36">
                                    <td align="center" style="background:#00BFFF; color:white; font-weight:bold">Mã hàng</td>
                                    <td align="center" style="width:5%;background:#00BFFF; color:white; font-weight:bold">SL giữ</td>
                                    <td align="center" style="height:36px;background:#00BFFF; color:white; font-weight:bold">Ngày xuất</td>
                                    <td align="left" style="background:#00BFFF; color:white; font-weight:bold">Giữ PO?</td>
                                    <td align="center" colspan="3" style="height:36px;background:#00BFFF; color:white; font-weight:bold">Ghi chú</td>
                                </tr>
                                <tr height="36" ng-repeat="(index,item) in Detail.ListAdd">
                                    <td>
                                        <div class="has-feedback showtableselect" ng-click="ShowHangHoa(index)">
                                            <input type="text" ng-model="item.MA_CHUAN" class="input showtableselect" ng-change="SearchHH(item.MA_CHUAN)">

                                            <div class="form-control-feedback">
                                                <i class="icon-arrow-down5"></i>
                                            </div>
                                        </div>
                                        <div class="tableselect" id="DataHangHoa{{index}}" style="display: none; max-width: 750px; padding-left: 0px; margin-left: -9px;">
                                            <table class="table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th>Mã hàng</th>
                                                        <th>Tên hàng</th>
                                                        <th>Mã nhóm hàng</th>
                                                        <th>Xuất xứ</th>
                                                        <th>DVT</th>
                                                        <th>Kho giữ</th>
                                                        <th>Số lượng tồn</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(hindex,itemHangHoa) in Detail.ListHangHoa" ng-click="SelectHangHoa(index,item,itemHangHoa)">
                                                        <td>{{itemHangHoa.MA_CHUAN}}</td>
                                                        <td>{{itemHangHoa.TEN_HANG}}</td>
                                                        <td>{{itemHangHoa.MA_NHOM_HANG}}</td>
                                                        <td>{{itemHangHoa.XUAT_XU}}</td>
                                                        <td>{{itemHangHoa.DVT}}</td>
                                                        <td>{{itemHangHoa.TEN_KHO}}</td>
                                                        <td class="text-center">{{itemHangHoa.SO_LUONG}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td><input type="number" style="border:none; height:36px; width: 100%" ng-model="item.SL_GIU"  /></td>
                                    <td><input type="text" datepicker style="border:none; height:36px; width: 100%" ng-model="item.NGAY_XUAT" /></td>
                                    <td align="center"><input type="checkbox" style="border:none; text-align:center;" ng-model="item.GIU_PO" /></td>
                                    <td colspan="3"><input type="text" style="border:none; height:36px; width: 100%" ng-model="item.GHI_CHU" /></td>
                                </tr>
                                <tr>
                                    <td colspan="7" style="text-align:center; cursor:pointer;font-weight:inherit; font-size:16px" ng-click="AddNew()">Bấm vào đây để thêm mới</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="anmelden"></label>
                            <div class="col-md-8 addnew">
                                <button class="btn addnewmodal" ng-click="SaveGiuHang();">Lưu</button>
                                <button id="exit" name="exit" class="btn addnewmodal" data-dismiss="modal">Exit</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

