
@{
    ViewBag.Title = "POChuaGiuHang";
}
<script src="~/Content/self-writing/js/Controllers/Kho/POChuaGiuHangCtrl.js"></script>
<div class="content" ng-app="myApp" ng-controller="POChuaGiuHangCtrl">
    <input type="hidden" name="macongty" id="macongty" value="@Session["MA_CONG_TY"]" />
    <table id="example" class="table" cellspacing="0">
        <thead>
            <tr>
                <th>Mã số PO</th>
                <th>Ngày lên PO</th>
                <th>Tên Khách Hàng</th>
                <th>Tổng tiền</th>
                <th>Ngày giao hàng</th>
                <th>Địa điểm giao hàng</th>
                <th>Tên Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in DanhSachPOChuaGiu" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                <td class="text-center">{{item.MA_SO_PO}}</td>
                <td class="text-left">{{item.NGAY_LEN_PO}}</td>
                <td class="text-center">{{item.TEN_KHACH_HANG}}</td>
                <td class="text-left">{{ item.TONG_TIEN_THANH_TOAN}}</td>
                <td class="text-center">{{item.NGAY_GIAO_HANG}}</td>
                <td class="text-center">{{item.DIA_DIEM_GIAO_HANG}}</td>
                <td class="text-center">{{item.TEN_NHAN_VIEN}}</td>
              
            </tr>
            <!--Detail row-->

        </tbody>
    </table>

</div>

