
@{
    ViewBag.Title = "DanhSachDuyetPO";
}

<script src="~/Content/self-writing/js/Services/DonHangPOService.js"></script>
<script src="~/Content/self-writing/js/Controllers/DonHangPOCtrl.js"></script>

<div class="content" ng-app="myApp" ng-controller="DonHangPOCtrl">
    <input type="hidden" value="@Session["USERNAME"]" id="username" />
    <input type="hidden" id="isadmin" name="isadmin" value="@Session["IS_AMIN"]" />
    <input type="hidden" id="macongty" name="macongty" value="@Session["MA_CONG_TY"]" />
    <table class="table">
        <thead>
            <tr>
                <th>Mã số PO</th>
                <th>Ngày lên PO</th>
                <th>Tên công ty</th>
                <th>Tên liên hệ</th>
                <th>Tổng tiền hàng</th>
                <th>Trạng thái</th>
                <th>Duyệt đơn PO</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list_POcanduyet">
                <td>{{item.MA_SO_PO}}</td>
                <td>{{item.NGAY_LEN_PO | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.TEN_CONG_TY}}</td>
                <td>{{item.TEN_LIEN_HE}}</td>
                <td>{{item.TONG_TIEN_HANG | currency : '' : 0}}</td>
                <td>
                    <input type="checkbox" ng-model="item.DANG_DUYET" style="display:none" />
                    <span ng-show="item.DANG_DUYET" style="color: red;">Đang duyệt</span>
                    <span ng-hide="item.DANG_DUYET" style="color: blue;">Chưa duyệt</span>
                </td>
                <td><a href="/DonHangPO/Details/{{item.MA_SO_PO}}" ng-mousedown="ChangeStatus(item.MA_SO_PO)">Duyệt đơn PO</a></td>
            </tr>
        </tbody>
    </table>
</div>

