
<script src="~/Content/self-writing/js/Controllers/PrintPOCtrl.js"></script>

<div ng-controller="PrintPOCtrl">
    <div id="printSectionId">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">

                <tbody>
                    <tr height="17">
                        <td colspan="2" rowspan="5" align="center" style="width:209px;">
                            <img alt="logo" height="100" src="~/logo_hoplong.png" width="130" />
                            <table cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td height="17" style="height:17px;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td align="left" colspan="9">
                            <b style="font-size:20px">CÔNG TY CỔ PHẦN CÔNG NGHỆ HỢP LONG</b>
                        </td>

                    </tr>
                    <tr height="19">

                        <td align="left" colspan="7">
                            <i><b>Head Office:</b> 412 Trần Khát Trân- Hai Bà Trưng- Hà Nội - Tel: 043.661.7545 -  Fax: 043.661.7560</i>
                        </td>

                    </tr>
                    <tr height="17">

                        <td align="left" colspan="7">
                            <i><b>HCM Office:</b> 68 Nguyễn Huệ - Quận 1-  TP.Hồ Chí Minh</i>
                        </td>

                    </tr>
                    <tr height="17">

                        <td align="left" colspan="7">
                            <i><b>ĐN Office:</b> 178 Trường Sơn - Quận Cẩm Lệ - TP.Đà Nẵng</i>
                        </td>

                    </tr>
                    <tr height="17">

                        <td align="left" colspan="7">
                            <i><b>Email:</b>info@hoplongtech.com.vn  -  Website: https://hoplongtech.com</i>
                        </td>

                    </tr>


                    <tr height="20">
                        <td colspan="9" height="20" style="height:20px; ">
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="32">
                        <td colspan="9" height="32" style="height:32px;font-size:20px; text-align:center; font-weight: bold">
                            PURCHASE ORDER
                        </td>
                    </tr>
                    <tr height="20">
                        <td colspan="9" height="20" style="height:20px; ">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" style="border:1px solid black">
                            <table border="0" cellpadding="0" cellspacing="0" style="padding: 3.5px; width:100%">
                                <tbody>
                                    <tr height="18">
                                        <td width="90px" style="border-right:none; vertical-align:text-top">Khách hàng :</td>
                                        <td colspan="5" style="border-left:none">{{thongtinchung.TEN_CONG_TY}}</td>
                                        <td align="left" colspan="3" style="vertical-align:text-top">{{thongtinchung.MA_SO_PO}}</td>
                                        <td align="center" width="80px" style="vertical-align:text-top">{{thongtinchung.NGAY_LEN_PO| date:'dd/MM/yyyy'}}</td>

                                    </tr>
                                    <tr height="18">
                                        <td colspan="6">Người liên hệ: {{thongtinchung.TEN_LIEN_HE}}({{thongtinchung.SDT1}})</td>
                                        <td align="left" colspan="4">{{thongtinchung.HO_VA_TEN}}</td>

                                    </tr>
                                    <tr height="18">
                                        <td colspan="6">Địa chỉ: {{thongtinchung.DIA_CHI_XUAT_HOA_DON}}</td>
                                        <td align="left" colspan="4">Số điện thoại:{{thongtinchung.SDT}}</td>

                                    </tr>
                                    <tr height="18">
                                        <td colspan="6">MST: {{thongtinchung.MST}} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Tel: {{thongtinchung.HOTLINE}} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Fax: {{thongtinchung.FAX}}</td>
                                        <td align="left" width="135px"></td>
                                        <td colspan="3"></td>

                                    </tr>
                                    <tr height="18">
                                        <td align="left" colspan="6" height="18">Email:{{thongtinchung.EMAIL}}</td>
                                        <td colspan="4"></td>

                                    </tr>

                                    <tr height="18">
                                        <td height="18" colspan=10 style="height:18px;"></td>

                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan=9>
                            <table border="1" cellpadding="5" cellspacing="0" style="width:100%">
                                <tbody>
                                    <tr height="23">
                                        <td colspan="9" height="23" style="height:23px;">
                                            Kính gửi Quý Công Ty!<br />
                                            Trước tiên, Hợp Long xin chân thành cảm ơn quý công ty đã hỗ trợ hợp tác trong thời gian qua.<br />
                                            Chúng tôi gửi tới quý công ty đơn đặt hàng  thiết bị điện công nghiệp và tự động hóa với các chi tiết như sau:
                                        </td>
                                    </tr>
                                    <tr height="17">
                                        <td colspan="9" height="17" style="height:17px;">
                                            Thời gian giao hàng : <b>{{thongtinchung.NGAY_GIAO_HANG | date: 'dd/MM/yyyy'}}</b><br />
                                            Địa điểm giao hàng : <b>{{thongtinchung.DIA_DIEM_GIAO_HANG}}</b>
                                        </td>
                                    </tr>
                                    <tr height="45">
                                        <th height="52" style="height:45px;">
                                            No.
                                        </th>
                                        <td colspan="2">
                                            <b>Model</b><span style="font-size: 13px">(Mã hàng)</span>
                                        </td>
                                        <th style="width:84px;">
                                            Maker/<br />
                                            Original
                                        </th>
                                        <td style="width:65px;text-align: center;">
                                            <b>Q'ty</b><br />
                                            <span style="font-size: 13px">(Số lượng)</span>
                                        </td>
                                        <td style="width:47px;text-align: center;">
                                            <b>UOM</b><br />
                                            <span style="font-size: 13px">(Đơn vị)</span>
                                        </td>
                                        <td style="width:79px;text-align: center;">
                                            <b>U.price</b><br />
                                            <span style="font-size: 13px">(VNĐ)</span>
                                        </td>
                                        <td style="width:110px; text-align: center;">
                                            <b>Total Amount</b><br />
                                            <span style="font-size: 13px">(VNĐ)</span>
                                        </td>
                                    </tr>
                                    <tr height="30" ng-repeat="item in thongtinchitiet">
                                        <td height="30" style="height:30px; text-align: center">{{$index+1}}</td>
                                        <td align="left" colspan="2" style="padding:3.5px">
                                            <b>{{item.MA_DIEU_CHINH}} </b>
                                        </td>
                                        <td style="font-size: 13.5px">
                                            <span style="color:blue">{{item.MA_NHOM_HANG}}</span>
                                            <br /> <center><i>{{item.XUAT_XU}}</i></center>
                                        </td>
                                        <td style="width:57px; text-align:center">{{item.SO_LUONG}}</td>
                                        <td style="width:47px; text-align:center"> {{item.DVT}}</td>
                                        <td align="right">{{item.DON_GIA | currency:""}}</td>
                                        <td style="width:87px; text-align:right">{{item.THANH_TIEN_HANG | currency:""}}</td>
                                    </tr>
                                    <tr height="30">
                                        <td height="30" colspan="8" style="height:30px;">
                                            &nbsp;
                                        </td>
                                    </tr>

                                    <tr height="30">
                                        <td align="center" colspan="6" style="border-left: none;font-weight:bold">
                                            Tổng tiền hàng
                                        </td>
                                        <td style="width:87px; text-align:right;border-right: 0px;  font-weight:bold">
                                            {{thongtinchung.TONG_TIEN_HANG |number:0}}
                                        </td>
                                        <td style="border-left: 0px !important">&nbsp;</td>
                                    </tr>
                                    <tr height="30">
                                        <td align="center" colspan="6" style="border-left:none;font-weight:bold">
                                            Thuế VAT 10%
                                        </td>
                                        <td style="width:87px; text-align:right;  border-right: none;font-weight:bold">
                                            {{thongtinchung.TONG_TIEN_THUE_GTGT | number:0}}
                                        </td>
                                        <td style="border-left: 0px !important">&nbsp;</td>
                                    </tr>
                                    <tr height="30">
                                        <td align="center" colspan="6" style="border-left:none;font-weight:bold">
                                            Phí vận chuyển
                                        </td>
                                        <td style="width:87px; text-align:right;  border-right: none;font-weight:bold">
                                            {{thongtinchung.PHI_VC | number:0}}
                                        </td>
                                        <td style="border-left: 0px !important">&nbsp;</td>
                                    </tr>
                                    <tr height="30">                                          
                                        <td align="center" colspan="6" style="border-left: none;font-weight:bold">
                                            Tổng cộng
                                        </td>
                                        <td style="width:87px;text-align:right;  border-right: none;font-weight:bold">
                                            {{thongtinchung.TONG_TIEN_HANG + thongtinchung.TONG_TIEN_THUE_GTGT + thongtinchung.PHI_VC|  number:0}}
                                        </td>
                                        <td style="border-left: 0px !important">&nbsp;</td>
                                    </tr>
                                    <tr height="30">
                                        <td align="center" colspan="8" style="border-left: none;font-weight:bold">
                                            Bằng chữ :{{thongtinchung.SO_TIEN_VIET_BANG_CHU}}
                                        </td>
                                    </tr>

                                    <tr height="17">
                                        <td height="17" colspan="8" style="height:17px;">
                                            &nbsp;
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan=9>
                            <table style="width:100%">
                                <tbody>

                                    <tr height="17">
                                        <td height="17" colspan="9" style="height:17px;font-weight:bold; font-style: italic; text-decoration: underline">Các điều khoản thương mại:</td>

                                    </tr>

                                    <tr height="20">
                                        <td colspan="10">
                                            1/ Địa điểm giao hàng: Giao hàng tại kho bên mua.
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                            2/ Hình thức vận chuyển: Chuyển nhanh, bên mua chịu phí
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="10">
                                            3/ Hình thức thanh toán: Thanh toán bằng chuyển khoản.
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                            4/ Thời hạn thanh toán: Đặt cọc 30% giá trị đơn hàng ngay sau khi ký hơp đồng, 70% còn lại trong vòng 30 ngày kể  từ khi nhận được hàng.
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                            Trân trọng cảm ơn và mong được hợp tác!
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                           &nbsp;
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr height="20">
                                        <td colspan="12">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>


            </table>
        </center>
    </div>
    <button ng-click="printToCart('printSectionId')" class="button">In PDF</button>
    <button ng-click="BackToList()" class="button">Về danh sách</button>
    <button ng-click="BackToEdit()" class="button">Sửa</button>
</div>
