<link href="~/Content/download/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/components.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/HangHoaHL.css" rel="stylesheet" />
<script src="~/Content/Scripts/moment.min.js"></script>
<script src="~/Content/assets/js/plugins/notifications/pnotify.min.js"></script>
<script src="~/Content/self-writing/js/Controllers/FeedBack/FeedBackCtrl.js"></script>
<script src="~/Content/self-writing/js/date_directive.js"></script>
<script src="~/Content/download/bootstrap-datetimepicker.js"></script>
<div ng-app="myApp" ng-controller="FeedBackCtrl" class="panel-group">
    <br />
    <br />
    <div class="class="content"">
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm" style="width: 50%">
                <div class="modal-content" style="height: 100%">

                    <div class="modal-body">
                        <fieldset style="height: 100%">
                            <!-- Form Name -->
                            <legend>CHẤM ĐIỂM</legend>
                            <!-- Text input-->
                            <div class="col-md-12 container_left">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div>Người phản hồi</div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="hidden" id="nguoiduyet" value="@Session["IS_AMIN"]" />
                                                        <input type="hidden" id="usernamenguoiduyet" value="@Session["USERNAME"]" />
                                                        <input type="text"  class="form-control input-md" ng-model="item.NHAN_VIEN_PHAN_HOI" readonly>
                                                    </div>  
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div>Điểm</div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-md" ng-model="item.TINH_DIEM">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-12 container_left">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div>Ngày phản hồi</div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-md" ng-model="item.NGAY_PHAN_HOI" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 container_left">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label class="checkbox-inline">Đánh giá</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="checkbox" ng-model="item.Tot">Tốt
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="checkbox" ng-model="item.TB">Trung Bình
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="checkbox" ng-model="item.KhongTot">Không Tốt
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="checkbox" ng-model="item.Kem">Kém
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 container_left">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div>THÔNG TIN PHẢN HỒI</div>
                                                    </div>
                                                    <div class="ckeditor">
                                                        <textarea id="edit_thong_tin_phan_hoi" name="edit_thong_tin_phan_hoi" class="form-control input-md" ng-model="item.THONG_TIN_PHAN_HOI"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <script>
                                CKEDITOR.replace('edit_thong_tin_phan_hoi', {
                                        height: 150
                                    });
                            </script>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="anmelden"></label>
                            <div class="col-md-2 edit">
                                <button class="btn" ng-click="SaveChamDiem()" data-dismiss="modal">Save</button>
                                <button class="btn" data-dismiss="modal">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-md-12" style="margin-top: -2.4%">
            <div>
                <table class="table " cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ngày phản hồi</th>
                            <th>Nhân viên phản hồi</th>
                            <th>Người duyệt</th>
                            <th>Điểm</th>
                            <th></th>
            
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="item in lisDS" itemsPerPage: 30 class="hover" ng-click="edit(item)" ng-class-odd="'odd'" ng-class-even="'even'" pagination-id="phanhoi">
                            <td class="text-left">{{item.NGAY_PHAN_HOI}}</td>
                            <td class="text-left">{{item.TEN_NHAN_VIEN_PHAN_HOI}}</td>
                            <td class="text-left">{{item.NGUOI_DUYET}}</td>
                            <td class="text-left">{{item.TINH_DIEM}}</td>
                            <td class="text-left" style="display: none">{{item.ID}}</td>
                            <td class="thongtinphanhoi-{{$index}}" ng-bind-html="item.THONG_TIN_PHAN_HOI | unsafe" style="display:none"></td>
                            <td>
                                <button class="btn  btn-circle" ng-click="edit(item,$index)" data-dismiss="modal" type="button" data-toggle="modal" data-target="#myEdit">Chấm điểm</button>
                            </td>
                        </tr>
                        <!--Detail row-->
                        <tr dir-paginate-end=""></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9" style="border: none !important">
                                <dir-pagination-controls pagination-id="phanhoi" max-size="12" style="float:left;"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>