@model IEnumerable<ERP.Web.Models.Database.NV_LICH_LAM_VIEC>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/assets/css/core.css" rel="stylesheet" />
<link href="~/Content/assets/css/colors.css" rel="stylesheet" />

<script src="~/Content/self-writing/js/Services/XuLyHoiGiaService.js"></script>
<script src="~/Content/self-writing/js/Controllers/XuLyYeuCauHoiGia.js"></script>

<div ng-app="myApp" ng-controller="XuLyYeuCauHoiGia">
    <input type="hidden" id="purhienthoi" name="purhienthoi" value="@Session["USERNAME"]" />
    <input type="hidden" id="isadmin" name="isadmin" value="@Session["IS_AMIN"]" />
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>    
                    <th>Mã chuẩn</th> 
                    <th>Thông số</th> 
                    <th>Hãng</th> 
                    <th>Sale yêu cầu</th> 
                    <th>Số lượng</th>
                    <th>Ghi chú</th>
                    <th>Ngày hỏi giá</th>
                    <th>Trạng thái</th> 
                    <th>Xử lý</th>                
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list_xuly_hoihang">
                    <td>{{item.ID_HOI_GIA}}</td>
                    <td>{{item.MA_CHUAN}}</td>
                    <td>{{item.THONG_SO}}</td>
                    <td>{{item.HANG}}</td>
                    <td>{{item.SALES_YEU_CAU}}</td>
                    <td>{{item.SO_LUONG}}</td>
                    <td>{{item.GHI_CHU}}</td>
                    <td>{{item.NGAY_HOI_GIA | date: 'dd/MM/yyyy'}}</td>
                    <td class="text-center"><input type="checkbox" ng-model="item.TRANG_THAI" ng-click="changestatus(item.ID_HOI_GIA,item.TRANG_THAI)"/></td>
                    <td><button type="button" class="btn btn-default" ng-click="load_xuly(item,item.ID_HOI_GIA)" data-toggle="modal" data-target="#xulyhoigia">Xử lý</button></td>
                </tr>
            </tbody>
        </table>
       

        <div class="modal fade" id="xulyhoigia" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" style="width: 80%">
                <div class="modal-content" style="height: 100%">

                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID Hỏi giá</th>
                                    <th>Mã hàng</th>
                                    <th>Mã chuẩn</th>
                                    <th>Mã khách order</th>
                                    <th>Số lượng</th>
                                    <th>Mã NCC</th>
                                    <th>Tên NCC</th>
                                    <th>Giá</th>
                                    <th>Thời gian cấp hàng</th>
                                    <th>Ngày hỏi giá</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="hoigia in Detail.ListAdd">
                                    <td><p ng-model="hoigia.ID_YEU_CAU_HOI_GIA">{{hoigia.ID_YEU_CAU_HOI_GIA}}</p></td>
                                    <td><input ng-model="hoigia.MA_HANG" class="form-control" type="text"/></td>
                                    <td><input ng-model="hoigia.MA_CHUAN" class="form-control" type="text" /></td>
                                    <td><input ng-model="hoigia.MA_KHACH_ORDER" class="form-control" type="text" /></td>
                                    <td><input ng-model="hoigia.SO_LUONG" type="number"/></td>
                                    <td><input ng-model="hoigia.MA_NCC" class="form-control" type="text" /></td>
                                    <td><input ng-model="hoigia.TEN_NHA_CUNG_CAP" class="form-control" type="text" /></td>
                                    <td><input ng-model="hoigia.GIA" class="form-control" type="text" /></td>
                                    <td><input ng-model="hoigia.THOI_GIAN_CAP_HANG" class="form-control" type="text" /></td>
                                    <td><input ng-model="hoigia.NGAY_HOI_GIA"  class="form-control" type="text" mask="9999-33-33"/></td>
                                    <td><input ng-model="hoigia.GHI_CHU" class="form-control" type="text" /></td>
                                </tr>
                                <tr>
                                    <td colspan="9" style="text-align: center" >
                                        <button class="btn btn-default" ng-click="add_new_ncc()">Bấm vào đây để thêm mới nhà cung cấp</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="anmelden"></label>
                            <div class="col-md-8 addnew">
                                <button id="addnew" name="addnew" class="btn" ng-click="save_xuly(hoigia.ID_HOI_GIA)" data-dismiss="modal" data-toggle="modal" data-target="#chitietkhachhang">Lưu</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>






