<link href="~/Content/self-writing/css/KhachHang.css" rel="stylesheet" />
<link href="~/Content/assets/css/components.css" rel="stylesheet" />
<link href="~/Content/download/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/core.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Controllers/KhachHang/KhachKhongMuaGanDayCtrl.js"></script>

<div ng-app="myApp" ng-controller="KhachKhongMuaGanDayCtrl">

    <div class="content">
        <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
        <input type="hidden" id="maphongban" name="maphongban" value="@Session["MA_PHONG_BAN"]" />
        <input type="hidden" id="macongty" name="macongty" value="@Session["MA_CONG_TY"]" />
        <input type="hidden" id="isadmin" name="isadmin" value="@Session["IS_AMIN"]" />

        <div class="panel content panel-default col-md-12" style="overflow: auto;">
            <div class="panel-heading title">
                <span><b>Mục tiêu 1: </b>Phần mềm phải hỗ trợ được mọi nhân viên làm việc theo quy trình thông minh, khoa học hơn nhằm đạt hiệu quả và năng suất cao hơn. </span>
                <span ng-hide="true"><b>Mục tiêu 2: </b>Tự động tương tác, giao dịch với khách hàng </span>
               
            </div>
            <br />
            <span style="color:red; font-size:13px; font-style:italic; "><b>Báo cáo khách không mua gần đây: </b>Đây là nơi thống kê lại List danh sách khách hàng đã từng mua hàng tại Hợp Long nhưng không còn mua hàng trong vòng 1 tháng trở lại đây</span>
            <div class="panel-body">
                <table id="example" class="table" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã khách hàng</th>
                            <th>Tên công ty</th>
                            <th>Địa chỉ</th>
                            <th>MST</th>
                            <th>Email</th>
                            <th>Tình trạng hoạt động </th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr ng-repeat="item in ListDataKH_Khong_Mua_Gan_Day" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">

                            <td class="text-center">{{item.MA_KHACH_HANG}}</td>
                            <td class="text-left">{{item.TEN_CONG_TY}}</td>
                            <td class="text-left">{{item.DIA_CHI_XUAT_HOA_DON}}</td>
                            <td class="text-left">{{item.MST}}</td>
                            <td class="text-left">{{item.EMAIL}}</td>
                            <td class="text-left">{{item.TINH_TRANG_HOAT_DONG}}</td>

                        </tr>
                        <!--Detail row-->

                    </tbody>
                </table>
            </div>
        </div>










        
    </div>


</div>