
@{
    ViewBag.Title = "Index";
}
<script src="~/Content/self-writing/js/Services/YeuCauHoiGiaService.js"></script>
<script src="~/Content/self-writing/js/Controllers/YeuCauHoiGiaCtrl.js"></script>
<h2> DANH SÁCH YÊU CẦU HỎI HÀNG</h2>
<div class="content" ng-app="myApp" ng-controller="YeuCauHoiGiaCtrl">
    <input type="hidden" id="purhienthoi" name="salehienthoi" value="@Session["USERNAME"]" />

    <table class="table">
        <tr>
            <th>
                Mã chuẩn
            </th>
            <th>
                Thông số
            </th>
            <th>
                Nhóm hàng
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Sales hỏi
            </th>
            <th>
                Ngày hỏi
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Tác vụ
            </th>

        </tr>

       
    <tr ng-repeat="item in list_yeucau">
        <td>{{item.MA_CHUAN}}</td>
        <td>{{item.THONG_SO}}</td>
        <td>{{item.HANG}}</td>
        <td>{{item.SO_LUONG}}</td>
        <td>{{item.TEN_SALES_YEU_CAU}}</td>
        <td>{{item.NGAY_HOI_GIA}}</td>
        <td>{{item.GHI_CHU}}</td>
        <td>
            <input type="button" class="primary" value="Nhận hỏi giá" ng-click="UpdateYeuCau(item.ID)" />
        </td>
    </tr>
    

    </table>
</div>