@{Layout = null; }

<script src="~/Content/self-writing/js/Services/BanHangService.js"></script>
<script src="~/Content/self-writing/js/Controllers/BanHangCtrl.js"></script>


<div ng-app="myApp" ng-controller="BanHangCtrl" class="content">
    <input type="hidden" value="@Session["USERNAME"]" id="username" />
    <input type="hidden" value="@Session["IS_AMIN"]" id="isadmin" />
    <input type="hidden" id="macongty" name="macongty" value="@Session["MA_CONG_TY"]" />
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Mã số đơn bán hàng</th>
                    <th>Ngày bán hàng</th>
                    <th>Khách hàng</th>
                    <th>Người liên hệ</th>
                    <th>Tổng tiền thanh toán</th>
                    <th>Ngày giao hàng</th>
                    <th>Địa điểm giao hàng</th>
                    <th>Nhân viên quản lý</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list_donbanhangdaxuatkho_kinhdoanh">
                    <td>{{item.MA_SO_BH}}</td>
                    <td>{{item.NGAY_BH | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.TEN_KHACH_HANG}}</td>
                    <td>{{item.TEN_LIEN_HE}}</td>
                    <td>{{item.TONG_TIEN_THANH_TOAN | currency: '' : 0}}</td>
                    <td>{{item.NGAY_GIAO_HANG | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.DIA_DIEM_GIAO_HANG}}</td>
                    <td>{{item.HO_VA_TEN}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th colspan="2" class="border-td"><h4>Đơn bán hàng chưa xuất kho</h4></th>
            </tr>
            <tr>
                <td class="border-td">
                    <div style="height: 400px;overflow:auto">
                        <table class="table right-table">
                            <thead>
                                <tr>
                                    <th>Số báo giá</th>
                                    <th>Ngày báo giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list_donbanhangchuaxuatkho_kinhdoanh">
                                    <td>{{item.MA_SO_BH}}</td>
                                    <td>{{item.NGAY_BH | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="border-td" colspan="2"><h4>Đơn bán hàng đã xuất kho</h4></th>
            </tr>
            <tr>
                <td class="border-td">
                    <div style="height: 400px;overflow:auto">
                        <table class="table right-table">
                            <thead>
                                <tr>
                                    <th>Số báo giá</th>
                                    <th>Ngày báo giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list_donbanhangdaxuatkho_kinhdoanh">
                                    <td>{{item.MA_SO_BH}}</td>
                                    <td>{{item.NGAY_BH | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>




