@model ERP.Web.Models.Database.HT_NGUOI_DUNG

@{
    ViewBag.Title = "Details";
}
<style>
    .hienthi {
        display: block !important;
    }

    .nothienthi {
        display: none !important;
    }

    select option:hover {
        background: #E6F5D6;
    }
</style>

<div ng-controller="phanquyenmenuCtrl" ng-app="myApp">
    <div class="col-md-12">
        <a href="/Settings/NguoiDung"> Quay về danh sách người dùng</a>
        <select size="10" name="decision2" style="height: 500px;width: 400px;" class="col-md-4">
            <option ng-repeat="item in dsmenu" style="height:30px;margin-left: 15px;margin-bottom: 15px;vertical-align:middle;padding-top: 5px;" ng-click="transfer(item)">{{item.TEN_MENU}}</option>
        </select>
        <div class="col-md-2">
            <span><input type="checkbox" ng-checked="listtrangthai==true" ng-model="listtrangthai" ng-click="click(listtrangthai,item.MA_MENU)" style="display:none" ng-class="return()">{{item.TEN_MENU}}</span>
            <button type="button" ng-class="class()" style="display:none" ng-click="create()">Tạo mới</button>
            <div ng-class="kiemtra()" style="display:none">{{ketqua}}</div>
        </div>
    </div>
    

</div>