
@model IEnumerable<ERP.Web.Models.Database.XL_DANG_KY_PHE_DUYET>

@{
    ViewBag.Title = "Index";
}

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/Donhangdukien.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Services/YeuCauHoiGiaService.js"></script>
<script src="~/Content/self-writing/js/Controllers/YeuCauHoiGiaCtrl.js"></script>
<script src="~/Content/self-writing/js/Services/TonCacNoiService.js"></script>
<script src="~/Content/self-writing/js/Controllers/TonCacNoiCtrl.js"></script>
<link href="~/Content/self-writing/css/Kinhdoanh/baogia.css" rel="stylesheet" />
<div class="panel-heading">
    <marquee width="80%">Bạn đang xem danh mục check tồn kho</marquee>
</div>
<br />
<div ng-app="myApp"  ng-controller="TonCacNoiCtrl" >
    <div class="content">
        <input type="hidden" name="macongty" id="macongty" value="@Session["MA_CONG_TY"]">
        <input type="hidden" name="macongty" id="username" value="@Session["USERNAME"]">
        <!--Tìm Kiếm Hàng Hóa-->
        <!--Form tìm kiếm-->
        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group" style="width: 100%; margin-bottom: 10px;" >
                    <input type="text" style="width: 60%; border:1px solid #ddd !important" class="form-control" placeholder="Gọi mã hàng ban muốn tìm kiếm tại đây" ng-model="search_text" ng-change="datatonkho(search_text)">
                </div>
            </form>
        </div>
        <!--End Form tìm kiếm-->

        <div style="border:1px solid #ddd">
            <span class="text-right"> Hiển thị chức năng hỏi giá: <input type="checkbox" ng-model="showhide" /></span>
            <div class="table" style="overflow:scroll">
                <table border="1">
                    <thead>
                        <tr height="23" style="vertical-align:bottom !important">
                            <th rowspan="2" style="width:13%; vertical-align:bottom !important; text-align: center; padding:3.5px !important" >Mã hàng</th>
                            <th rowspan="2" style="width:18%; vertical-align:bottom !important; text-align: center; padding:3.5px !important">Thông số</th>
                            <th rowspan="2" style="width:8%;text-align:left; vertical-align:bottom !important"><span style="text-align:left"> Hãng</span><br/><center><span style="font-weight:normal; color:blue; font-style:italic; font-size:13px;">xuất xứ</span></center></th>
                            <th rowspan="2" style="width:8%; vertical-align:bottom !important"> ĐVT </th>
                            <th colspan="5"style="width:28%; vertical-align:bottom !important; text-align: center; padding:3.5px !important">Giá Bán Tham Khảo</th>
                            <th colspan="9" style="width:25%;">Tồn Kho</th>
                        </tr>
                        <tr height="23">
                            <th  style="width:8%; vertical-align:bottom !important">Giá List</th>
                            <th  style="width:4%; vertical-align:bottom !important"></th>
                            <th  style="width:6%; vertical-align:bottom !important">Giá 1</th>
                            <th  style="width:6%; vertical-align:bottom !important">Giá 2</th>
                            <th  style="width:6%; vertical-align:bottom !important">Giá 3</th>
                            <th colspan="2" style="width:5%;"> HL</th>
                            <th colspan="2" style="width:5%;">TAĐN</th>
                            <th colspan="2" rowspan="2" style="width:5%;">TAHP</th>
                            <th colspan="2" rowspan="2" style="width:5%;">TAHCM</th>
                            <th style="width:5%;">Hãng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr height="23" ng-repeat="item in listtonkho">
                            <td >
                                <table style="height: 100%; width:100%">
                                    <tr height="23"><td style="padding:3.5px;text-align:left ">{{item.MA_CHUAN}}</td></tr>
                                    <tr height="23"><td style="font-size:12px; padding:3.5px;text-align:left !important; font-style:italic">{{item.TEN_HANG}}</td></tr>
                                    <tr height="23">
                                        <td class="text-left">
                                            <span style="font-size:11px;padding:3.5px; font-style:italic; color:red" ng-show="item.DISCONTINUE"> ( Ngưng sản xuất ) </span> 
                                            <span style="float:right">
                                                <a data-toggle="modal" data-target="#comment" ng-click="edit(item)" style="cursor:pointer; text-align:left"><span class="fa fa-commenting"></span></a>
                                                <abbr title="{{item.NOI_DUNG_COMMENT}}" ng-if="item.NOI_DUNG_COMMENT != null "><i style="text-align:left; padding-left:3.5px; color:red" class="fa fa-comments-o"></i></abbr>
                                            </span>

                                        </td>
                                    </tr>
                                    <tr height="23"><td class="text-left"><span style="font-size:14px; color:blue; text-decoration:underline; " ng-click="datatonkho(item.MA_CHUYEN_DOI)" ng-show="item.DISCONTINUE">=> {{item.MA_CHUYEN_DOI}}</span> </td></tr>
                                </table>
                            </td>
                            <td class="text-left" style="padding:3.5px" ng-bind-html="item.THONG_SO | unsafe"></td>

                            <td class="text-left">
                                <table style="height: 100%; width:100%">
                                    <tr height="23"><td class="text-left" style="padding:3.5px">{{item.MA_NHOM_HANG}}</td></tr>
                                    <tr height="23"><td class="text-center" style="color:blue"><i>{{item.XUAT_XU}}</i></td></tr>
                                    <tr height="23"><td style="text-align:left; padding-left:3.5px"></td></tr>
                                   
                                    <tr height="23"><td ></td></tr>

                                </table>
                            </td>
                            <td>
                                <table style="height: 100%; width:100%">
                                    <tr height="23"><td>{{item.DVT}}</td></tr>
                                    <tr height="23"><td ng-bind-html="item.QUY_CACH_DONG_GOI | unsafe"></td></tr>
                                    <tr height="23"><td><a data-toggle="modal" data-target="#myModal" ng-show="showhide" ng-click="edit(item)" style="cursor:pointer"><span class="fa fa-question"></span></a></td></tr>
                                    <tr height="23"><td><a data-toggle="modal" data-target="#nhatky" ng-show="showhide" ng-click="nhatkyhoihang(item.MA_HANG)" style="cursor:pointer"><i class="fa fa-history"></i></a></td></tr>
                                </table>
                            </td>

                            <td>
                                <table style="height: 100%; width:100%" border="0">
                                    <tr height="23"><td class="text-right" style="padding:3.5px">{{item.GIA_LIST_NCC1 | number:0}}</td></tr>
                                    <tr height="23"><td class="text-right" style="padding:3.5px">{{item.GIA_LIST_NCC2 | number:0}}</td></tr>
                                    <tr height="23"><td class="text-right" style="padding:3.5px">{{item.GIA_LIST_NCC3 | number:0}}</td></tr>
                                    <tr height="23"><td class="text-right" style="padding:3.5px">{{item.GIA_LIST_NCC4 | number:0}}</td></tr>
                                </table>
                            </td>

                            <td>
                                <table style="height: 100%; width:100%">
                                    <tr height="23"><td style="padding:3.5px">Sup1</td></tr>
                                    <tr height="23"><td style="padding:3.5px">Sup2</td></tr>
                                    <tr height="23"><td style="padding:3.5px">Sup3</td></tr>
                                    <tr height="23"><td style="padding:3.5px">Sup4</td></tr>
                                </table>
                            </td>

                            <td>
                                <table style="height: 100%; width:100%">
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA1| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA4| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA7| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA10| number:0}}</td></tr>
                                </table>
                            </td>
                            <td>
                                <table style="height: 100%; width:100%">
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA2| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA5| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA8| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA11| number:0}}</td></tr>
                                </table>
                            </td>
                            <td>
                                <table style="height: 100%; width:100%">
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA3| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA6| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA9| number:0}}</td></tr>
                                    <tr height="23"><td style="padding:3.5px">{{item.GIA12| number:0}}</td></tr>
                                </table>
                            </td>
                                    
                                    <td colspan="2">
                                        <table>
                                            <tr height="23">
                                                <td colspan="2">
                                                    <span style="font-weight:bold; color:blue"><abbr title="Tổng số tồn có thể bán">{{item.tonHL}}</abbr> </span>
                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td width="30px">
                                                    <span style="color:blue"><abbr title="Số tồn thực kho HL hiện tại">{{item.tonHL}}</abbr> </span>

                                                </td>
                                                <td width="30px" ng-click="GetDataGiuHang(item.MA_HANG);" data-toggle="modal" data-target="#giuhangmodal">
                                                    <span  style="font-weight:bold; color:red"><abbr title="Tổng số trong kho chờ (đã có P.O - chờ xuất)">{{item.DANG_GIU_HL}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td>
                                                    <span style="color:blue"><abbr title="Tổng số sắp về tới (chưa về tới kho HL)">{{item.SL_DANG_VE_HL}}</abbr> </span>

                                                </td>
                                                <td>
                                                    <span style="color:red"><abbr title="Tổng số trong kho giữ ( chờ khách ra P.O )">{{item.SL_DANG_VE_HL}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td><span style="color:green"><abbr title="Tổng số đã order NCC (chưa về tới kho HL)">{{item.SL_DANG_VE_HL}}</abbr> </span></td>
                                                <td></td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td colspan="2">
                                        <table>
                                            <tr height="23" colspan="2">
                                                <td colspan="2" style="width:60px;">
                                                    <span style="font-weight:bold; color:blue"><abbr title="Tổng số tồn có thể bán">{{item.TON_DANANG + item.KY_GUI_DEN_DN}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td>
                                                    <span style="color:blue"><abbr title="Số tồn thực kho DN hiện tại">{{item.TON_DANANG}}</abbr> </span>

                                                </td>
                                                <td>
                                                    <span style="font-weight:bold; color:red"><abbr title="Tổng số trong kho chờ (đã có P.O - chờ xuất)">{{item.DANG_GIU_DN}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td>
                                                    <span style="color:blue"><abbr title="Tổng số sắp về tới (chưa về tới kho DN)">{{item.SL_DANG_VE_DN}}</abbr> </span>

                                                </td>
                                                <td>
                                                    <span style="color:red"><abbr title="Tổng số trong kho giữ ( chờ khách ra P.O )">{{item.SL_DANG_VE_DN}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td><span style="color:green"><abbr title="Tổng số đã order NCC (chưa về tới kho HL)">{{item.SL_DANG_VE_DN}}</abbr> </span></td>
                                                <td></td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td colspan="2" style="width:60px;">
                                        <table>
                                            <tr height="23" colspan="2">
                                                <td colspan="2" style="width:60px;">
                                                    <span style="font-weight:bold; color:blue"><abbr title="Tổng số tồn có thể bán">{{item.TON_HAIPHONG + item.KY_GUI_DEN_HP}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td style="width:30px;">
                                                    <span style="color:blue"><abbr title="Số tồn thực kho HP hiện tại">{{item.TON_HAIPHONG}}</abbr> </span>

                                                </td>
                                                <td style="width:30px;">
                                                    <span style="font-weight:bold; color:red"><abbr title="Tổng số trong kho chờ (đã có P.O - chờ xuất)">{{item.DANG_GIU_HP}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td>
                                                    <span style="color:blue"><abbr title="Tổng số sắp về tới (chưa về tới kho HP)">{{item.SL_DANG_VE_HP}}</abbr> </span>

                                                </td>
                                                <td>
                                                    <span style="color:red"><abbr title="Tổng số trong kho giữ ( chờ khách ra P.O )">{{item.SL_DANG_VE_HP}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td><span style="color:green"><abbr title="Tổng số đã order NCC (chưa về tới kho HL)">{{item.SL_DANG_VE_HP}}</abbr> </span></td>
                                                <td></td>
                                            </tr>

                                        </table>
                                    </td>
                                    <td colspan="2" style="width:60px;">
                                        <table>
                                            <tr height="23" colspan="2">
                                                <td colspan="2" style="width:60px;">
                                                    <span style="font-weight:bold; color:blue"><abbr title="Tổng số tồn có thể bán">{{item.TON_HCM + item.KY_GUI_DEN_HCM}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td style="width:30px;">
                                                    <span style="color:blue"><abbr title="Số tồn thực kho HCM hiện tại">{{item.TON_HCM}}</abbr> </span>

                                                </td>
                                                <td style="width:30px;">
                                                    <span style="font-weight:bold; color:red"><abbr title="Tổng số trong kho chờ (đã có P.O - chờ xuất)">{{item.DANG_GIU_HCM}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td>
                                                    <span style="color:blue"><abbr title="Tổng số sắp về tới (chưa về tới kho HCM)">{{item.SL_DANG_VE_HCM}}</abbr> </span>

                                                </td>
                                                <td>
                                                    <span style="color:red"><abbr title="Tổng số trong kho giữ ( chờ khách ra P.O )">{{item.SL_DANG_VE_HCM}}</abbr> </span>

                                                </td>
                                            </tr>
                                            <tr height="23">
                                                <td><span style="color:green"><abbr title="Tổng số đã order NCC (chưa về tới kho HL)">{{item.SL_DANG_VE_HCM}}</abbr> </span></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table style="height: 100%; width:100%">
                                            <tr height="23">
                                                <td>{{item.TON_TAI_HANG}}</td>
                                            </tr>
                                            <tr height="23">
                                                <td></td>

                                            </tr>
                                            <tr height="23">
                                                <td></td>
                                            </tr>
                                            <tr height="23">
                                                <td></td>
                                            </tr>

                                        </table>

                                    </td>
                                    <td colspan="3"></td>
                        </tr>


                    </tbody>
                </table>
            </div>


        </div>
        <!--End tìm kiếm hàng hóa-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Yêu cầu hỏi giá</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="padding-bottom: 20px">
                        <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
                        <div class="col-md-5" style="margin-right: 20px;">
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Mã hàng</label>
                                <input type="text" class="form-control" ng-model="ton.MA_HANG">
                            </div>
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Mã chuẩn</label>
                                <input type="text" class="form-control" ng-model="ton.MA_CHUAN">
                            </div>
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Mã khách order</label>
                                <input type="text" class="form-control" ng-model="ton.MA_KHACH_ORDER">
                            </div>
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Thông số</label>
                                <input type="text" class="form-control" ng-model="ton.THONG_SO">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Hãng</label>
                                <input type="text" class="form-control" ng-model="ton.MA_NHOM_HANG">
                            </div>

                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Số lượng</label>
                                <input type="text" class="form-control" ng-model="SO_LUONG">
                            </div>
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Ghi chú</label>
                                <input type="text" class="form-control" ng-model="GHI_CHU">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <center>
                        <button type="button" class="btn btn-default" ng-click="addYeuCau()"> Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal giữ hàng-->
    <div class="modal fade" id="giuhangmodal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">List sale đang giữ hàng</h4>
                </div>
                <div class="modal-body">
                    <table border="1" cellpadding="0" cellspacing="0" style="width:100%;">

                        <tbody>
                            <tr height="20">
                                <th align="center" height="20" style="height:20px;width:20%;">Người giữ</th>
                                <th align="center" style="width:10%;">Mã khách</th>
                                <th align="center" style="width:10%;">SL giữ</th>
                                <th align="center" style="width:10%;">Ngày giữ</th>
                                <th align="center" style="width:10%;">Ngày xuất</th>
                                <th align="center" style="width:10%;">Giữ-đã có PO</th>
                                <th align="center" style="width:10%;">Giữ-đang báo giá</th>
                            </tr>
                            <tr height="20" ng-repeat ="item in ListDataGiuKho">
                                <td text-align="left">{{item.TEN_SALES_GIU}}</td>
                                <td text-align="left">{{item.MA_KHACH_HANG}}</td>
                                <td>{{item.SL_GIU}}</td>
                                <td>{{item.NGAY_GIU|date : 'dd/MM/yyyy'}}</td>
                                <td>{{item.NGAY_XUAT|date : 'dd/MM/yyyy'}}</td>
                                <td><i class="fa fa-check" aria-hidden="true" ng-if="item.GIU_PO==true"></i></td>
                                <td><i class="fa fa-check" aria-hidden="true" ng-if="item.GIU_PO==false"></i></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>

        </div>
    </div>
    <!-------------------------------->


    <!--Xem nhật ký hỏi hàng-->
    <div class="modal fade" id="nhatky" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nhật Ký Hỏi Hàng</h4>
                </div>

                <div class="modal-body">
                    <div class="col-md-12" style="padding-bottom: 20px; padding-top:30px;">
                       <table>
                           <tr>
                               <td style="width:10% ;padding: 5px;">Mã chuẩn</td>
                               <td style="width:10% ;padding: 5px;">Mã khách order</td>
                               <td style="width:5% ;padding: 5px;">SL</td>
                               <td style="width:10% ;padding: 5px;">NCC</td>
                               <td style="width:10% ;padding: 5px;">Giá</td>
                               <td style="width:15% ;padding: 5px;">TG cấp hàng</td>
                               <td style="width:5% ;padding: 5px;">Ngày hỏi giá</td>
                               <td style="width:10% ;padding: 5px;">Ghi chú</td>
                               <td style="width:10% ;padding: 5px;">Người xử lý</td>
                           </tr>
                           <tr ng-repeat="item in nkhoihang">
                               <td>{{item.MA_CHUAN}}</td>
                               <td>{{item.MA_KHACH_ORDER}}</td>
                               <td>{{item.SL}}</td>
                               <td>{{item.MA_NCC}}</td>
                               <td>{{item.GIA}}</td>
                               <td>{{item.THOI_GIAN_CAP_HANG}}</td>
                               <td>{{item.NGAY_HOI}}</td>
                               <td>{{item.GHI_CHU}}</td>
                               <td>{{item.HO_VA_TEN}}</td>
                           </tr>
                       </table>
                    </div>
                </div>

                <div class="panel-footer">
                    <center>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>

        </div>
    </div>
    <!---------------------------->
  
    <div class="modal fade" id="comment" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-md-12">
                        <label class="col-md-2">Nội dung</label>
                        <div class="col-sm-10">
                            <textarea id="newcomment" name="newcomment" ng-model="item.NOI_DUNG_COMMENT" class="form-control input-md"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="anmelden"></label>
                        <div class="col-md-8 addnew" style="text-align: left;margin-top: 30px;">
                            <button id="addnew" name="addnew" class="btn" ng-click="AddNewComment(item.MA_HANG,item.NOI_DUNG_COMMENT)" data-dismiss="modal">Cập nhật</button>
                            <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<script>
            CKEDITOR.replace('newcomment', {
                height: 150
            });
        </script>*@

    </div>
</div>


<script src="~/Content/download/angularjs/angular-ui-router.js"></script>




