

<link href="~/Content/assets/css/core.css" rel="stylesheet" />
<link href="~/Content/assets/css/colors.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/LichLamViecNhanVien.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Controllers/KhachHang/CongNoKhachHangCtrl.js"></script>

<div ng-app="myApp" ng-controller="CongNoKhachHangCtrl">
    <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
    <input type="hidden" id="macongty" name="macongty" value="@Session["MA_CONG_TY"]" />
    <input type="hidden" id="isadmin" name="isadmin" value="@Session["IS_AMIN"]" />
    <div class="content">
        <!--Danh sách lịch làm việc-->
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <div class="panel-title">
                    <div style="float: left">Công nợ Khách Hàng theo nhân viên</div>
                    <div style="float: right"><a href="/LichLamViecNhanVien/Create">Import Công nợ</a></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">

                    <!-- Table expand row -->
                    <div class="collapse-custom">
                        <!-- ROW 1 -->
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav" ng-repeat="item in DataPhongBan">
                                    <li class="one" ng-mousedown="get_datanhanvienphongban(item.MA_PHONG_BAN)" data-toggle="collapse" href="#collapse{{$index}}"><a>{{item.TEN_PHONG_BAN}}</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- HIDDING CONTANT -->
                        <div id="collapseOne" class="collapse">
                            <div class="panel-body">
                                <!-- LISTE-->
                                <div class="row">
                                    <div class="col-md-3 collapse navbar-collapse" style="box-shadow: 3px 3px 3px #ddd;margin-right: 30px;padding-right: 67px;margin-left: 26px; padding-bottom:20px;">
                                        <ul ng-repeat="item in DataNhanVienPhongBan" id="collapse{{$index}}">
                                            <li ng-mousedown="get_datalichlamviec(item.USERNAME)" data-toggle="collapse" href="#collapseTwo{{$index}}"><a>{{item.HO_VA_TEN}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 collapse navbar-collapse" data-toggle="collapse" id="collapseTwo">
                                        <!-- HIDDING CONTANT2 -->
                                        <table style="border-color: #ddd" border="1" class="table table-bordered table-striped table-hover">
                                            <thead class="bg-primary-300">
                                                <tr>
                                                    <th>
                                                        Thực hiện
                                                    </th>
                                                    <th>
                                                        Tiêu đề công việc
                                                    </th>
                                                    <th>
                                                        Nội dung công việc
                                                    </th>
                                                    <th>
                                                        Địa điểm làm việc
                                                    </th>
                                                    <th>
                                                        Thời gian bắt đầu
                                                    </th>
                                                    <th>
                                                        Thời gian kết thúc
                                                    </th>
                                                    <th>
                                                        Trạng thái
                                                    </th>
                                                    <th>
                                                        Ghi chú
                                                    </th>
                                                    <th>
                                                        Hủy việc?
                                                    </th>
                                                    <th>Sửa</th>
                                                    <th>Xóa</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="kq in DataLichLamViec" id="collapseTwo{{$index}}">
                                                    <td>
                                                        {{kq.TEN_NGUOI_THUC_HIEN}}
                                                    </td>
                                                    <td>
                                                        {{kq.TIEU_DE_CONG_VIEC}}
                                                    </td>
                                                    <td>
                                                        {{kq.NOI_DUNG_CONG_VIEC}}
                                                    </td>
                                                    <td>
                                                        {{kq.DIA_DIEM_LAM_VIEC}}
                                                    </td>
                                                    <td>
                                                        {{kq.THOI_GIAN_BAT_DAU}}
                                                    </td>
                                                    <td>
                                                        {{kq.THOI_GIAN_KET_THUC}}
                                                    </td>
                                                    <td>
                                                        {{kq.TRANG_THAI}}
                                                    </td>
                                                    <td>
                                                        {{kq.GHI_CHU}}
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" ng-checked="{{kq.HUY_CONG_VIEC}}" ng-disabled="true">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-circle" ng-click="edit(kq)" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i></button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-circle" ng-click="edit(kq)" type="button" data-toggle="modal" data-target="#delete_item"><i class="glyphicon glyphicon-remove"></i></button>
                                                        <!--<button class="btn btn-warning btn-circle" ng-click="delete(item.MA_KHO)"><i class="glyphicon glyphicon-remove"></i></button>-->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Table Expand row-->
                </div>
            </div>
        </div>
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Cập nhật lịch làm việc</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Tiêu đề công việc: </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Tiêu đề công việc" class="form-control input-md" ng-model="kq.TIEU_DE_CONG_VIEC">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Nội dung công việc: </label>
                                    <div class="col-md-10">
                                        <textarea type="text" placeholder="Nội dung công việc" class="form-control input-md" ng-model="kq.NOI_DUNG_CONG_VIEC"></textarea>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Địa điểm làm việc : </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Địa điểm làm việc" class="form-control input-md" ng-model="kq.DIA_DIEM_LAM_VIEC">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Thời gian bắt đầu: </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Thời gian bắt đầu" class="form-control input-md" ng-model="kq.THOI_GIAN_BAT_DAU">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Thời gian kết thúc: </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Thời gian kết thúc" class="form-control input-md" ng-model="kq.THOI_GIAN_KET_THUC">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Trạng thái: </label>
                                    <div class="col-md-10">
                                        <select class="form-control select" ng-model="kq.TRANG_THAI" id="trangthai"
                                                data-ng-options="item as item for item in trangthailamviec"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Hủy công việc: </label>
                                    <div class="col-md-1">
                                        <input type="checkbox" ng-model="kq.HUY_CONG_VIEC">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Ghi chú: </label>
                                    <div class="col-md-10">
                                        <input type="text" placeholder="Ghi chú" class="form-control input-md" ng-model="kq.GHI_CHU">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-11 edit">
                                        <button class="btn" ng-click="EditLichLamViec(kq.ID)" data-dismiss="modal">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Delete Maker</legend>
                                <center>Are you sure you want to delete <b>{{kq.TIEU_DE_CONG_VIEC}}</b></center>
                                <p></p>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn" ng-click="delete_lichlamviec(kq.ID)" data-dismiss="modal">Delete</button>
                                        <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Danh sách Công việc được giao-->
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <div class="panel-title">
                    <div style="float: left">Công việc được giao</div>
                </div>
            </div>
            <div class="panel-body">
                <table id="example" class="table" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tiêu đề công việc</th>
                            <th>Ngày giao việc</th>
                            <th>Nội dung công việc</th>
                            <th>Thời gian hoàn thành</th>
                            <th>Người giao việc</th>
                            <th>Nhân viên thực hiện</th>
                            <th>Hủy công việc</th>
                            <th>Trạng thái</th>
                            <th>Ghi chú</th>
                            <th>Sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="entry in filtered = (list_congviec | itemsPerPage:15)" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td>{{entry.TIEU_DE_CONG_VIEC}}</td>
                            <td>{{entry.NGAY_GIAO_VIEC | date: 'dd/MM/yyyy'}}</td>
                            <td>{{entry.NOI_DUNG_CONG_VIEC}}</td>
                            <td>{{entry.THOI_GIAN_HOAN_THANH}}</td>
                            <td>{{entry.NGUOI_GIAO_VIEC}}</td>
                            <td>{{entry.NGUOI_NHAN_VIEC}}</td>
                            <td><input type="checkbox" ng-model="entry.HUY_CONG_VIEC" ng-disabled="true" /></td>
                            <td class="text-left">
                                <p ng-hide="editMode" ng-model="entry.TRANG_THAI">{{entry.TRANG_THAI}}</p>
                                <select class="form-control select" ng-model="entry.TRANG_THAI" id="trangthai"
                                        data-ng-options="item as item for item in trangthailamviec" ng-show="editMode"></select>
                            </td>
                            <td class="text-left">
                                <p ng-hide="editMode" ng-model="entry.GHI_CHU">{{entry.GHI_CHU}}</p>
                                <textarea ng-model="entry.GHI_CHU" ng-show="editMode" placeholder="Ghi chú"></textarea>
                            </td>
                            <td>
                                <button type="submit" ng-hide="editMode" ng-click="editMode = true; edit_giao_viec(entry)" class="btn btn-default">Edit</button>
                                <button type="submit" ng-show="editMode" ng-click="editMode = false; save_giao_viec(entry)" class="btn btn-default">Save</button>
                                <button type="submit" ng-show="editMode" ng-click="editMode = false; cancel_giao_viec(entry)" class="btn btn-default">Cancel</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" style="border: none !important">
                                <dir-pagination-controls max-size="12" style="float:right;"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>






