
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KinhDoanh/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/self-writing/css/BaoGia/baogiacss.css" rel="stylesheet" />*@
<script src="~/Content/self-writing/js/Controllers/BaoGiaCtrl.js"></script>
<script src="~/Content/self-writing/js/Services/BaoGiaService.js"></script>
<link href="~/Content/download/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/Content/download/pnotify.custom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-debounce/0.1.7/angular-debounce.js"></script>
<style>
    label {
        padding-left: 5px;
    }

    span {
        padding-left: 5px;
    }

    td {
        padding-left: 5px;
    }

    .select {
        border: 0px !important;
        border-radius: 0px !important;
    }

    #texttime {
        color: gray;
        font-size: 14px;
        font-weight: 700;
    }
</style>
<script type="text/javascript">var startTime=new Date();function currentTime(){var a=Math.floor((new Date()-startTime)/100)/10;if (a%1==0) a+=".0";document.getElementById("endTime").innerHTML=a;}window.onload=function(){clearTimeout(loopTime);}</script>
<script type="text/javascript">document.write('<div align="center"><span id="texttime"><i class="fa fa fa-spinner fa-spin"></i> Thời gian tải trang: <span id="endTime">0.0</span>s</span></div> ');var loopTime=setInterval("currentTime()",100);</script>
<div ng-app="myApp" ng-controller="baogiaCtrl">
    <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
    <input type="hidden" id="isadmin" name="salehienthoi" value="@Session["IS_AMIN"]" />
    <input type="hidden" id="macongty" name="macongty" value="@Session["MA_CONG_TY"]" />
    <!-- Dashboard content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-white" style="margin-bottom: 10px;">

                <div class="panel-body" style="padding: 5px !important; margin-bottom: 10px;">
                    <form id="myForm">

                        <div class="col-md-12" style="margin-bottom: -10px;">
                            <!--Thông tin về đơn hàng dự kiến-->
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                        <h6 class="panel-title">Thông tin đơn dự kiến<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                    </div>
                                    <div class="panel-body" style="font-size:12px;" ng-repeat="dondukien in list_dondukien">

                                        <label class="control-label">Đơn dự kiến: {{dondukien.MA_DU_KIEN}} </label><br />
                                        <label class="control-label">Sale báo giá: {{dondukien.HO_VA_TEN}} </label><br />
                                        <div style="display:none">
                                            {{dondukien.SALES_QUAN_LY}}
                                            {{dondukien.MA_KHACH_HANG}}
                                            {{dondukien.ID_LIEN_HE}}
                                        </div>
                                        <label class="control-label">Khách hàng: {{dondukien.TEN_CONG_TY}} </label><br />
                                        <label class="control-label">Tên Liên hệ: {{dondukien.NGUOI_LIEN_HE}} </label>
                                    </div>
                                </div>
                            </div>
                            <!--End Thông tin về đơn hàng dự kiến-->
                            <!--danh sách đơn giá-->
                            <div class="col-md-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                        <h6 class="panel-title">Danh sách báo giá <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                    </div>
                                    <div class="panel-body" style="font-size:12px; margin-top: -12px;">
                                        <div class="col-md-12 content-group">
                                            <div class="table-responsive">

                                                <table border="1">
                                                    <thead>
                                                        <tr class="bg-primary-300" style="background:#64B5F6; color:white;">
                                                            <th style="width:2%"></th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Số báo giá</th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Ngày báo giá</th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Đã duyệt</th>
                                                            <th style="width:10%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Người duyệt</th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Đã trúng</th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Đã hủy</th>
                                                            <th style="width:20%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Lý do hủy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="baogia in list_baogiatheodukien">
                                                            <td class="text-center">

                                                                <div>
                                                                    <input type="radio" name="aaa" value="" ng-model="addbaogia" ng-click="thembaogia(baogia)">
                                                                    @*<div ng-if="addbaogia">
                                                                            <label ng-init="thembaogia(baogia)"></label>
                                                                        </div>*@
                                                                </div>


                                                            </td>
                                                            <td class="text-center">
                                                                {{baogia.SO_BAO_GIA}}
                                                                <p class="{{baogia.SO_BAO_GIA}}-phivanchuyen" style="display:none">{{baogia.PHI_VAN_CHUYEN}}</p>
                                                                <p class="{{baogia.SO_BAO_GIA}}-chiphixuly" style="display:none">{{baogia.CHI_PHI_XU_LY_HOA_DON}}</p>
                                                                <p class="{{baogia.SO_BAO_GIA}}-thuesuatgtgt" style="display:none">{{baogia.THUE_SUAT_GTGT}}</p>
                                                            </td>
                                                            <td class="text-center">{{baogia.NGAY_BAO_GIA | date: 'dd/MM/yyyy'}}</td>
                                                            <td class="text-center">
                                                                <div>
                                                                    <input readonly type="checkbox" ng-model="item.DA_DUYET" />
                                                                </div>
                                                            </td>
                                                            <td class="text-left">{{baogia.NGUOI_DUYET}}</td>
                                                            <td class="text-center"><input readonly type="checkbox" ng-model="item.DA_TRUNG" /></td>
                                                            <td class="text-center"><input readonly type="checkbox" ng-model="item.DA_HUY" /></td>
                                                            <td style="width:20%; padding-left: 5px;">{{baogia.LY_DOHUY}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End danh sách đơn giá-->
                        </div>

                        <div class="col-md-12" style="text-align: right;margin-bottom: 20px;">
                            <button ng-click="CreateNewQuotation()" class="btn btn-default">Thêm báo giá mới</button>
                        </div>
                        <div class="col-md-12 thongtinchungthemmoi" style="text-align: right;margin-bottom: 20px;">
                            <label>Hiện bảng tính CM</label>
                            <input type="checkbox" ng-model="newCM" />
                        </div>

                        <div class="col-md-12 thongtinchungthemmoi" style="margin-bottom: 20px;">
                            Tiền khách muốn nhận : <input type="text" ng-model="tien_khach_muon_nhan" style="border:1px solid black;" format="number" />
                            <button ng-click="tinh_cm_khach(tien_khach_muon_nhan)">Tính CM</button>
                        </div>
                        
                        <div class="col-md-12 savethongtin" style="margin-bottom: 20px;">
                            Tiền khách muốn nhận : <input type="text" ng-model="tien_khach_muon_nhan_edit" style="border:1px solid black;" />
                            <button ng-click="tinh_cm_khach_edit(tien_khach_muon_nhan_edit)">Tính CM</button>
                        </div>

                        <!--Thông tin chung-->
                        <div class="col-md-12">
                            <div class="panel panel-default" style="margin-bottom: 10px;">
                                <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                    <h6 class="panel-title">Thông tin chung Báo Giá<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                </div>
                                <div class="panel-body" style="padding: 5px !important; font-size:12px">
                                    <!--Thông tin - sửa -->
                                    <div class="form-horizontal savethongtin" ng-repeat="item in BangBaoGia">


                                        <!--Chi tiết báo giá của sửa-->
                                        <div class="col-md-12 content-group" style="padding-left: 5px; padding-right: 5px;">
                                            <div class="table-responsive">

                                                <table border='1'>
                                                    <thead>
                                                        <tr class="bg-primary-300" style="background:#64B5F6; color: white">
                                                            <td></td>
                                                            <td class="text-left" width="15%">Descriptions</td>
                                                            <td class="text-left" width="4%">Qty</td>
                                                            <td class="text-left" width="4%">Uom</td>
                                                            <td class="text-left" width="8%">U.Price</td>
                                                            <td class="text-left" width="8%">Total Amount(VND)</td>
                                                            <td class="text-left" width="8%">Dilivery Time</td>
                                                            <td class="text-left" width="10%">Đơn giá tính theo Price List</td>
                                                            <td class="text-left" width="10%">Đơn giá tính theo Giá Nhập</td>
                                                            <td class="text-left" width="9%">Giá báo đi net</td>
                                                            <td class="text-left" width="20%" ng-show="editCM">Tính CM cho khách</td>
                                                            <td>Xóa</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index,item) in Detail.ListAdd">
                                                            <td>
                                                                <div style="text-align:center;">
                                                                    <input type="checkbox" ng-model="tachbg">
                                                                    <div ng-if="tachbg">
                                                                        <label ng-init="tachbaogia(item)"></label>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <table border='1' style="width:100%; height: 100%; border:none;">
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" class="form-control" ng-model="item.MA_CHUAN" ng-change="onHHEditFind(item.MA_CHUAN)" placeholder="Nhập mã hàng" ng-focus="item.showtable_hanghoa_edit = true" style="display:inline-block;width:80%;height:20px; font-size:13px; padding-left: 14px;">
                                                                            <input type="text" class="form-control" ng-model="item.MA_HANG" style="display:none">
                                                                            <div class="input-group-btn">
                                                                                <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0 menuhh" style="display:block" ng-show="item.showtable_hanghoa_edit">
                                                                                    <div class="table-responsive">
                                                                                        <table class="table table-striped table-hover" st-table="arrayHHEdit" st-safe-src="arrayHHEditFinded">
                                                                                            <thead class="bg-blue text-white">
                                                                                                <tr>
                                                                                                    <th>Mã hàng</th>
                                                                                                    <th>Tên hàng</th>
                                                                                                    <th>Mã nhóm hàng</th>
                                                                                                    <th>Đơn vị tính</th>
                                                                                                    <th>Giá list</th>
                                                                                                    <th>Mã kho còn</th>
                                                                                                    <th>Số lượng</th>
                                                                                                    <th>Tên kho</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody ng-repeat="kh in arrayHHEditFinded">
                                                                                                <tr style="cursor:pointer" ng-click="inputstaff_edit(kh,index,item)">
                                                                                                    <td>{{kh.MA_CHUAN}}</td>
                                                                                                    <td>{{kh.TEN_HANG}}</td>
                                                                                                    <td>{{kh.MA_NHOM_HANG}}</td>
                                                                                                    <td>{{kh.DVT}}</td>
                                                                                                    <td>{{kh.GIA_LIST | currency : '' : 0}}</td>
                                                                                                    <td>{{kh.MA_KHO_CON}}</td>
                                                                                                    <td>{{kh.SO_LUONG}}</td>
                                                                                                    <td>{{kh.TEN_KHO}}</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="item.TEN_HANG" class="col-md-12 style-inline" style="border:0px">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="item.HANG_SP" class="col-md-12 style-inline" style="border:0px">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="item.MA_DIEU_CHINH" class="col-md-12 style-inline" style="border:0px">
                                                                        </td>
                                                                    </tr>

                                                                </table>

                                                            </td>
                                                            <td>
                                                                <input type="number" ng-model="item.SO_LUONG" class="style-inline" ng-change="kiemtra(item)">
                                                            </td>
                                                            <td class="text-left">
                                                                <input type="text" ng-model="item.DVT" class="style-inline" />
                                                            </td>
                                                            <td class="text-left">
                                                                <input type="number" style="text-align:right;display:none" ng-model="item.DON_GIA_MOI" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="style-inline" ng-change="kiemtra(item)">
                                                                <p ng-model="item.DON_GIA_MOI">{{item.DON_GIA_MOI | currency: '' : 0}}</p>
                                                            </td>
                                                            <td class="text-left">
                                                                <input type="number" style="text-align:right;display:none" ng-model="item.THANH_TIEN" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="style-inline" readonly>
                                                                <p ng-model="item.THANH_TIEN">{{item.THANH_TIEN | currency: '' : 0}}</p>
                                                            </td>
                                                            <td class="text-left">
                                                                <input type="text" ng-model="item.THOI_GIAN_GIAO_HANG" class="style-inline">
                                                            </td>
                                                            <td class="text-left">
                                                                <table style="width:100%; height: 100%">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            Giá:
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" ng-model="item.GIA_LIST" format="number" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            CK:
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" ng-model="item.CHIET_KHAU" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td class="text-left">
                                                                <table style="width:100%; height: 100%; border:none;">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            Giá:
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" ng-model="item.DON_GIA_NHAP" format="number" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            LN:
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" ng-model="item.HE_SO_LOI_NHUAN" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="text-left"><input type="number" style="text-align:right;" ng-model="item.DON_GIA_BAO_DI_NET" class="style-inline" ng-change="kiemtra(item)"></td>



                                                            <td ng-show="editCM">
                                                                <table border='1' style="width:100%; height: 100%; border:none;">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            %CM:
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            <input type="number" ng-model="item.CM" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            %Thuế:
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            <input type="number" ng-model="item.THUE_TNDN" ng-init="item.THUE_TNDN=20.00" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Đơn giá mới:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="item.DON_GIA_MOI" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="col-md-12 style-inline" ng-change="kiemtra(item)" style="display:none">
                                                                            <p ng-model="item.DON_GIA_MOI">{{item.DON_GIA_MOI | currency : '' : 0}}</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Tiền thuế TNDN:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="item.TIEN_THUE_TNDN" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="col-md-12 style-inline" ng-change="kiemtra(item)" style="display:none">
                                                                            <p ng-model="item.DON_GIA_MOI">{{item.TIEN_THUE_TNDN  | currency : '' : 0}}</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Khách nhận:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="item.KHACH_NHAN_DUOC" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="col-md-12 style-inline" ng-change="kiemtra(item)" style="display:none">
                                                                            <p ng-model="item.DON_GIA_MOI">{{item.KHACH_NHAN_DUOC  | currency : '' : 0}}</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <div class="text-left">
                                                                    <center><i class="fa fa-minus-circle" style="color:red;" ng-click="Remove($index,item)" aria-hidden="true"></i></center>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="12" style="text-align:center; cursor:pointer; height:30px; font-size:14px; font-weight:bold;" ng-click="NewEditProduct()">Bấm vào đây để thêm mới</td>
                                                        </tr>
                                                        @*<tr>
                                                                <td>
                                                                    <button ng-click="NewEditProduct()" class="btn btn-default">Thêm hàng hóa</button>
                                                                </td>
                                                            </tr>*@
                                                    </tbody>
                                                    <tfoot>
                                                        @*<tr>
                                                                <td colspan='13' style="height:20px;"></td>
                                                            </tr>*@
                                                        <tr>
                                                            <td colspan="13">
                                                                <table border='1' style="width:100%; height: 100%; border:none;">
                                                                    <tr>
                                                                        <td>
                                                                            <label class="control-label">Phương thức thanh toán </label>
                                                                        </td>
                                                                        <td>
                                                                            <select class="form-control select" ng-model="item.PHUONG_THUC_THANH_TOAN" id="adddieukhoanthanhtoan"
                                                                                    data-ng-options="item as item for item in phuongthucttnew"></select>
                                                                        </td>
                                                                        <td>
                                                                            <label class="control-label">Phí vận chuyển </label>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control" ng-model="item.PHI_VAN_CHUYEN" id="tienvanchuyen" ng-init="phivanchuyen=0.00" ng-change="kiemtra(item)" />
                                                                        </td>
                                                                        <td>
                                                                            <label class="control-label">Thuế suất GTGT (%) </label>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control" ng-model="item.THUE_SUAT_GTGT" id="thue_suat_gtgt" ng-change="kiemtra(item)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><label class="control-label">Hạn thanh toán </label></td>
                                                                        <td><input type="text" class="form-control" ng-model="item.HAN_THANH_TOAN" /></td>
                                                                        <td><label class="control-label">Hiệu lực báo giá </label></td>
                                                                        <td><input type="number" class="form-control" ng-model="item.HIEU_LUC_BAO_GIA" /></td>
                                                                        <td><label class="control-label">Điều khoản thanh toán </label></td>
                                                                        <td>
                                                                            <select class="form-control select" ng-model="item.DIEU_KHOAN_THANH_TOAN" id="adddieukhoanthanhtoan"
                                                                                    data-ng-options="item as item for item in dieukhoanttnew"></select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><label class="control-label">Tổng giá trị chênh lệch: </label></td>
                                                                        <td colspan='2'><span ng-model="gia_tri_chenh_lech_edit">{{gia_tri_chenh_lech_edit | currency: ''}} vnd</span></td>
                                                                        <td><label class="control-label">Tổng giá trị đơn hàng thực tế: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_thuc_te_edit">{{tong_gia_tri_thuc_te_edit | currency: ''}} vnd</span></td>


                                                                    </tr>
                                                                    <tr>
                                                                        <td><label class="control-label">Tổng chi phí hóa đơn: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_chi_phi_hoa_don_edit">{{tong_chi_phi_hoa_don_edit | currency: ''}}</span> vnd</td>
                                                                        <td><label class="control-label">Tổng giá trị đơn hàng theo phiếu xuất/hợp đồng : </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_theo_hop_dong_edit">{{tong_gia_tri_theo_hop_dong_edit | currency: ''}} vnd</span></td>


                                                                    </tr>
                                                                    <tr>
                                                                        <td><label class="control-label">Thực nhận của khách: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_khach_nhan_edit">{{tong_khach_nhan_edit | currency: ''}} vnd</span></td>
                                                                        <td><label class="control-label">Thuế VAT : </label></td>
                                                                        <td colspan='2'><span ng-model="thue_vat_edit">{{thue_vat_edit | currency: ''}} vnd</span></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td colspan='2'></td>
                                                                        <td><label class="control-label">Tổng giá trị thu của khách: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_thu_cua_khach_edit">{{tong_gia_tri_thu_cua_khach_edit | currency: ''}} vnd</span></td>

                                                                    </tr>
                                                                </table>

                                                            </td>
                                                        </tr>

                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <!--End Thông tin - sửa -->
                                    <!--Thông tin thêm mới-->
                                    <div class="thongtinchungthemmoi form-horizontal" style="display:none">

                                        <!--Thông tin chi tiết thêm mới-->
                                        <div class="col-md-12 content-group" style="padding-left: 5px; padding-right: 5px;">
                                            <div class="table-responsive">
                                                <table id="themmoiinput" border="1">
                                                    <thead>
                                                        <tr class="bg-primary-300" style="background:#64B5F6; color: white">
                                                            <td class="text-left" width="15%">Descriptions</td>
                                                            <td class="text-left" width="4%">Qty</td>
                                                            <td class="text-left" width="4%">Uom</td>
                                                            <td class="text-left" width="8%">U.Price</td>
                                                            <td class="text-left" width="8%">Total Amount(VND)</td>
                                                            <td class="text-left" width="8%">Dilivery Time</td>
                                                            <td class="text-left" width="10%">Đơn giá tính theo Price List</td>
                                                            <td class="text-left" width="10%">Đơn giá tính theo Giá Nhập</td>
                                                            <td class="text-left" width="9%">Giá báo đi net</td>
                                                            <td class="text-left" width="20%" ng-show="newCM">Tính CM cho khách</td>
                                                            <td>Xóa</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="(index,detail) in Detail.ListNew">
                                                            <td>
                                                                <table border='1' style="width:100%; height: 100%; border:none;">
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" class="form-control" ng-model="detail.ma_chuan" ng-change="onHHFind(detail.ma_chuan)" placeholder="Nhập mã hàng" ng-focus="detail.showtable_hanghoa = true" style="display:inline-block;width:80%; height:20px; font-size:13px; padding-left: 14px;">
                                                                            <input type="text" class="form-control" ng-model="detail.ma_hang" style="display:none">
                                                                            <div class="input-group-btn" style="display:inline-block">
                                                                                <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0 menuhh" style="display: block" ng-show="detail.showtable_hanghoa">
                                                                                    <div class="table-responsive">
                                                                                        <table class="table table-striped table-hover" st-table="HHCollection" st-safe-src="arrayHHFinded">
                                                                                            <thead class="bg-blue text-white">
                                                                                                <tr>
                                                                                                    <th>Mã hàng</th>
                                                                                                    <th>Tên hàng</th>
                                                                                                    <th>Mã nhóm hàng</th>
                                                                                                    <th>Đơn vị tính</th>
                                                                                                    <th>Giá list</th>
                                                                                                    <th>Mã kho còn</th>
                                                                                                    <th>Số lượng</th>
                                                                                                    <th>Tên kho</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr style="cursor:pointer" ng-click="inputstaff(kh,index,detail)" ng-repeat="kh in HHCollection">
                                                                                                    <td>{{kh.MA_CHUAN}}</td>
                                                                                                    <td>{{kh.TEN_HANG}}</td>
                                                                                                    <td>{{kh.MA_NHOM_HANG}}</td>
                                                                                                    <td>{{kh.DVT}}</td>
                                                                                                    <td>{{kh.GIA_LIST | currency : '' : 0}}</td>
                                                                                                    <td>{{kh.MA_KHO_CON}}</td>
                                                                                                    <td>{{kh.SO_LUONG}}</td>
                                                                                                    <td>{{kh.TEN_KHO}}</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="detail.ten_hang" class="col-md-12 style-inline" style="border:0px">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="detail.hang" class="col-md-12 style-inline" style="border:0px">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="detail.ma_dieu_chinh" class="col-md-12 style-inline" placeholder="Mã điều chỉnh" style="border:0px">
                                                                        </td>
                                                                    </tr>

                                                                </table>

                                                            </td>
                                                            <td>
                                                                <input type="number" ng-model="detail.so_luong" class="style-inline" ng-change="test(detail)">
                                                            </td>
                                                            <td class="text-left">
                                                                <input type="text" ng-model="detail.dvt" class="style-inline" />
                                                            </td>
                                                            <td class="text-right">
                                                                <input type="number" style="text-align:right;display:none" ng-model="detail.don_gia_ban" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="style-inline">\
                                                                <p ng-model="detail.don_gia_ban">{{detail.don_gia_ban | currency: '' : 0}}</p>
                                                            </td>
                                                            <td class="text-right">
                                                                <input type="number" style="text-align:right;display:none" ng-model="detail.thanh_tien" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="style-inline" readonly>
                                                                <p ng-model="detail.thanh_tien">{{detail.thanh_tien | currency: '' : 0}}</p>
                                                            </td>
                                                            <td class="text-left">
                                                                <input type="text" ng-model="detail.thoi_gian_giao_hang" class="style-inline">
                                                            </td>
                                                            <td class="text-left">
                                                                <table style="width:100%; height: 100%">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            Giá:
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" ng-model="detail.gia_list" format="number" class="col-md-12 style-inline" ng-change="test(detail)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            CK:
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" ng-model="detail.chiet_khau" ng-init="detail.chiet_khau = 0.00" class="col-md-12 style-inline" ng-change="test(detail)">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td class="text-left">
                                                                <table style="width:100%; height: 100%">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            Giá:
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" ng-model="detail.gia_nhap" format="number" class="col-md-12 style-inline" ng-change="test(detail)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            LN:
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" ng-model="detail.he_so_loi_nhuan"  format="number" ng-init="detail.he_so_loi_nhuan = 0.00" class="col-md-12 style-inline" ng-change="test(detail)">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="text-right"><input type="text" style="text-align:right;" format="number" ng-model="detail.gia_bao_di_net" class="style-inline" readonly></td>



                                                            <td ng-show="newCM">
                                                                <table border='1' style="width:100%; height: 100%; border:none">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            %CM:
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            <input type="number" ng-model="detail.hoa_hong" class="col-md-12 style-inline" ng-change="test(detail)">
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            %Thuế:
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            <input type="number" ng-model="detail.thue_tndn" ng-init="detail.thue_tndn=20.00" class="col-md-12 style-inline" ng-change="test(detail)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Đơn giá mới:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="detail.don_gia_ban" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="col-md-12 style-inline" style="display:none">
                                                                            <p ng-model="detail.don_gia_ban">{{detail.don_gia_ban | currency: '' : 0}}</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Tiền thuế TNDN:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="detail.tien_thue_tndn" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="col-md-12 style-inline" style="display:none">
                                                                            <p ng-model="detail.tien_thue_tndn">{{detail.tien_thue_tndn | currency: '' : 0}}</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Khách nhận:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="detail.khach_nhan" ng-pattern="/^[0-9]+(\.[0-9]{1,10})?$/" step="0.01" class="col-md-12 style-inline" style="display:none">
                                                                            <p ng-model="detail.khach_nhan">{{detail.khach_nhan | currency: '' : 0}}</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <div class="text-left">
                                                                    <center><i class="fa fa-minus-circle" style="color:red;" ng-click="RemoveNew($index,detail)" aria-hidden="true"></i></center>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="11" style="text-align:center; cursor:pointer; height:30px; font-size:20px; font-weight:bold;" ng-click="addnewproduct()">Bấm vào đây để thêm mới</td>
                                                        </tr>
                                                        @*<tr>
                                                                <td style="border:none">
                                                                    <button ng-click="addnewproduct()" class="btn btn-default">Bấm vào đây để thêm hàng hóa</button>
                                                                </td>
                                                            </tr>*@
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="13">
                                                                <table border='1' style="width:100%; height: 100%; border:none;">
                                                                    <tr>
                                                                        <td style="padding-left:5px">
                                                                            <label class="control-label">Phương thức thanh toán </label>
                                                                        </td>
                                                                        <td>
                                                                            <select class="form-control select" ng-model="phuong_thuc_thanh_toan" id="adddieukhoanthanhtoan"
                                                                                    data-ng-options="item as item for item in phuongthucttnew"></select>
                                                                        </td>
                                                                        <td style="padding-left:5px">
                                                                            <label class="control-label">Phí vận chuyển </label>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control" ng-model="phivanchuyen" id="tienvanchuyen" ng-init="phivanchuyen=0.00" ng-change="test(detail)" />
                                                                        </td>
                                                                        <td style="padding-left:5px">
                                                                            <label class="control-label">Thuế suất GTGT (%) </label>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control" ng-model="thue_suat_gtgt" ng-init="thue_suat_gtgt=0.00" ng-change="test(detail)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left:5px"><label class="control-label">Hạn thanh toán </label></td>
                                                                        <td><input type="text" class="form-control" ng-model="han_thanh_toan" /></td>
                                                                        <td style="padding-left:5px"><label class="control-label">Hiệu lực báo giá </label></td>
                                                                        <td><input type="number" class="form-control" ng-model="hieu_luc_bao_gia" /></td>
                                                                        <td style="padding-left:5px"><label class="control-label">Điều khoản thanh toán </label></td>
                                                                        <td>
                                                                            <select class="form-control select" ng-model="dieu_khoan_thanh_toan" id="adddieukhoanthanhtoan"
                                                                                    data-ng-options="item as item for item in dieukhoanttnew"></select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left:5px"><label class="control-label">Tổng giá trị chênh lệch: </label></td>
                                                                        <td colspan='2'><span ng-model="gia_tri_chenh_lech_new">{{gia_tri_chenh_lech_new | currency: ''}} vnd</span></td>
                                                                        <td style="padding-left:5px"><label class="control-label">Tổng giá trị đơn hàng thực tế: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_thuc_te_new">{{tong_gia_tri_thuc_te_new | currency: ''}} vnd</span></td>


                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left:5px"><label class="control-label">Tổng chi phí hóa đơn: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_chi_phi_hoa_don_new">{{tong_chi_phi_hoa_don_new | currency: ''}}</span> vnd</td>
                                                                        <td style="padding-left:5px"><label class="control-label">Tổng giá trị đơn hàng theo phiếu xuất/hợp đồng : </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_theo_hop_dong_new">{{tong_gia_tri_theo_hop_dong_new | currency: ''}} vnd</span></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left:5px"><label class="control-label">Thực nhận của khách: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_khach_nhan_new">{{tong_khach_nhan_new | currency: ''}} vnd</span></td>
                                                                        <td style="padding-left:5px"><label class="control-label">Thuế VAT : </label></td>
                                                                        <td colspan='2'><span ng-model="thue_vat_new">{{thue_vat_new | currency: ''}} vnd</span></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td colspan='2'></td>
                                                                        <td style="padding-left:5px"><label class="control-label">Tổng giá trị thu của khách: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_thu_cua_khach_new">{{tong_gia_tri_thu_cua_khach_new | currency: ''}} vnd</span></td>

                                                                    </tr>
                                                                </table>

                                                            </td>
                                                            @*<td colspan="9"></td>*@
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <!--End thông tin chi tiết thêm mới-->




                                    </div>
                                    <!--End Thông tin thêm mới-->
                                </div>
                            </div>
                        </div>
                        <!--End Thông tin chung-->
                        <div class="col-md-12 text-left">
                            <button type="button" class="btn btn-primary thongtinchungthemmoi" onclick="myFunction()" style="background: darkseagreen !important;color: white!important;"><i class="icon-floppy-disk"></i>Xóa trắng</button>
                            <button type="button" class="btn btn-primary thongtinchungthemmoi" ng-click="AddNew()" style="display:none;"><i class="icon-floppy-disk"></i>Thêm mới</button>
                            <button type="button" class="btn btn-primary savethongtin" style="display:none;" ng-click="onSave()"><i class="icon-floppy-disk"></i>Lưu</button>
                            <a href="/" class="btn bg-orange-400" style="background: lightgreen; color: white;"><i class="icon-blocked"></i> Bỏ qua</a>
                            <button type="button" class="btn btn-primary savethongtin" style="display:none;" ng-click="Split()"><i class="icon-floppy-disk"></i>Tách báo giá</button>
                            <button type="button" class="btn btn-primary savethongtin" style="display:none;" ng-click="Copy()"><i class="icon-floppy-disk"></i>Tạo báo giá mới từ báo giá hiện tại</button>
                            <button type="button" class="btn btn-primary savethongtin" style="display:none;" data-toggle="modal" data-target="#thongtinPO"><i class="icon-floppy-disk"></i>Tạo đơn PO</button>
                            <button type="button" class="btn btn-primary savethongtin" style="display:none;" data-toggle="modal" data-target="#gopbaogia"><i class="icon-floppy-disk"></i>Gộp báo giá</button>
                        </div>
                    </form>
                </div>

                <!--Tìm Kiếm Hàng Hóa thêm mới-->
                @*<div class="thongtinchungthemmoi tab-pane fade in " style="border:1px solid #ddd; font-size:10px; font-family:'Times New Roman'">
                        <center>
                            <div id="quick-access" style="padding-bottom: 20px;padding-top: 20px; align-content:center">
                                <form class="form-inline quick-search-form" role="form" action="#">
                                    <div class="form-group" style="width: 90%">
                                        <input type="text" style="height: 27px;width: 60%;  font-size:12px"  class="form-control" placeholder="Nhập mã hàng chuẩn tại đây" ng-model="search_text">

                                        <button type="button" style="height: 27px;border-radius: 5px;  font-size:12px" class="btn btn-info" ng-model="find" ng-click="FindProduct(search_text)">Find</button>
                                    </div>
                                </form>
                            </div>
                        </center>



                        <div class="col-md-12 content-group" style="height: 27px; font-size:12px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover ">
                                    <thead>
                                        <tr class="bg-primary-300" style="background:#64B5F6; color:white">
                                            <th style="width:2%" class="text-left"></th>
                                            <th style="width:6%" class="text-left">Mã hàng</th>
                                            <th style="width:6%" class="text-left">Tên hàng</th>
                                            <th style="width:8%" class="text-left">Mã chuẩn</th>
                                            <th style="width:6%" class="text-left">Thông số</th>
                                            <th style="width:4%" class="text-left">Hãng</th>
                                            <th style="width:2%" class="text-left">ĐVT</th>
                                            <th style="width:6%" class="text-left">Giá List</th>
                                            <th style="width:5%" class="text-left">Discontinue</th>
                                            <th style="width:8%" class="text-left">Mã chuyển đổi</th>
                                            <th style="width:4%" class="text-left">Tồn HL</th>
                                            <th style="width:4%" class="text-left">Tồn ĐN</th>
                                            <th style="width:5%" class="text-left">Tồn HCM</th>
                                            <th style="width:4%" class="text-left">Tồn HP</th>
                                            <th style="width:5%" class="text-left">Đang giữ</th>
                                            <th style="width:5%" class="text-left">Ký gửi</th>
                                            <th style="width:5%" class="text-left">Tồn Hãng</th>
                                            <th style="width:9%" class="text-left">Thời gian cấp hàng (Hãng)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="hanghoa in danhsachhanghoa">
                                            <td>
                                                <div>
                                                    <input type="checkbox" ng-model="checkhanghoa">
                                                    <div ng-if="checkhanghoa">
                                                        <label ng-init="check(hanghoa.MA_HANG, hanghoa.TEN_HANG, hanghoa.DVT, hanghoa.XUAT_XU, hanghoa.MA_NHOM_HANG, hanghoa.GIA_LIST,hanghoa.TON_HOPLONG)"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.MA_HANG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" ng-model="hanghoa.TEN_HANG" class="form-control">
                                            </td>
                                            <td class="text-left">
                                                <input type="text" ng-model="hanghoa.MA_CHUAN" class="form-control">
                                            </td>
                                            <td class="text-left">
                                                <input type="text" ng-model="hanghoa.THONG_SO" class="form-control">
                                            </td>
                                            <td class="text-left">
                                                <input type="text" ng-model="hanghoa.MA_NHOM_HANG" class="form-control">
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.DVT" class="form-control">
                                                </div>
                                            </td>

                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.GIA_LIST" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-left">
                                                    <input type="checkbox" ng-model="hanghoa.DISCONTINUE">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.MA_CHUYEN_DOI" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_HOPLONG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_DANANG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_HCM" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_HAIPHONG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.SL_DANG_GIU" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.SL_KY_GUI_DI" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_TAI_HANG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.THOI_GIAN_CAP_HANG" class="form-control">
                                                </div>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>*@
                <!--End tìm kiếm hàng hóa-->
                <!--Tìm Kiếm Hàng Hóa sửa-->
                @*<div class="savethongtin tab-pane fade in " style="border:1px solid #ddd">
                        <center>
                            <div id="quick-access" style="padding-bottom: 20px;padding-top: 20px; align-content:center">
                                <form class="form-inline quick-search-form" role="form" action="#">
                                    <div class="form-group" style="width: 90%">
                                        <input type="text" style="height: 27px;width: 60%;  font-size:12px" class="form-control" placeholder="Nhập mã hàng chuẩn tại đây" ng-model="edit_text">

                                        <button type="button" style="height: 27px;border-radius: 5px;  font-size:12px" class="btn btn-info" ng-model="timkiem" ng-click="TimKiem(edit_text)">Tìm kiếm</button>
                                    </div>
                                </form>
                            </div>
                        </center>



                        <div class="col-md-12 content-group" style="height: 27px; font-size:12px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover ">
                                    <thead>
                                        <tr class="bg-primary-300" style="background:#64B5F6; color:white">
                                            <th style="width:2%" class="text-left"></th>
                                            <th style="width:6%" class="text-left">Mã hàng</th>
                                            <th style="width:6%" class="text-left">Tên hàng</th>
                                            <th style="width:8%" class="text-left">Mã chuẩn</th>
                                            <th style="width:6%" class="text-left">Thông số</th>
                                            <th style="width:4%" class="text-left">Hãng</th>
                                            <th style="width:2%" class="text-left">ĐVT</th>
                                            <th style="width:6%" class="text-left">Giá List</th>
                                            <th style="width:5%" class="text-left">Discontinue</th>
                                            <th style="width:8%" class="text-left">Mã chuyển đổi</th>
                                            <th style="width:4%" class="text-left">Tồn HL</th>
                                            <th style="width:4%" class="text-left">Tồn ĐN</th>
                                            <th style="width:5%" class="text-left">Tồn HCM</th>
                                            <th style="width:4%" class="text-left">Tồn HP</th>
                                            <th style="width:5%" class="text-left">Đang giữ</th>
                                            <th style="width:5%" class="text-left">Ký gửi</th>
                                            <th style="width:5%" class="text-left">Tồn Hãng</th>
                                            <th style="width:9%" class="text-left">Thời gian cấp hàng (Hãng)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="hanghoa in danhsachhanghoaluu">
                                              <td>
                                                <div>
                                                    <input type="checkbox" ng-model="addtosave">
                                                    <div ng-if="addtosave">
                                                        <label ng-init="newsave(hanghoa.MA_HANG, hanghoa.TEN_HANG, hanghoa.DVT, hanghoa.XUAT_XU, hanghoa.MA_NHOM_HANG, hanghoa.GIA_LIST,hanghoa.TON_HOPLONG)"></label>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.MA_HANG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" ng-model="hanghoa.TEN_HANG" class="form-control">
                                            </td>
                                            <td class="text-left">
                                                <input type="text" ng-model="hanghoa.MA_CHUAN" class="form-control">
                                            </td>
                                            <td class="text-left">
                                                <input type="text" ng-model="hanghoa.THONG_SO" class="form-control">
                                            </td>
                                            <td class="text-left">
                                                <input type="text" ng-model="hanghoa.MA_NHOM_HANG" class="form-control">
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.DVT" class="form-control">
                                                </div>
                                            </td>

                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.GIA_LIST" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-left">
                                                    <input type="checkbox" ng-model="hanghoa.DISCONTINUE">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.MA_CHUYEN_DOI" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_HOPLONG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_DANANG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_HCM" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_HAIPHONG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.SL_DANG_GIU" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.SL_KY_GUI_DI" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.TON_TAI_HANG" class="form-control">
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" ng-model="hanghoa.THOI_GIAN_CAP_HANG" class="form-control">
                                                </div>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>*@
                <!--End tìm kiếm hàng hóa-->

                <div class="modal fade" id="thongtinPO" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" style="width:50%">
                        <div class="modal-content" style="border-radius: 15px">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title" id="myModalLabel">Thông tin PO</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12 form-group">
                                    <label class="col-md-2">Ngày giao hàng</label>
                                    <div class="col-md-2">
                                        <input type="text" ng-model="ngay_giao_hang" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-2">Địa chỉ giao hàng</label>
                                    <div class="col-md-10">
                                        <input type="text" ng-model="dia_diem_giao_hang" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Cần xuất ngay</label>
                                        <input type="checkbox" ng-model="can_xuat_ngay" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Cần lấy hóa đơn</label>
                                        <input type="checkbox" ng-model="can_lay_hoa_don" />
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Thanh toán khi đặt hàng</label>
                                        <input type="number" ng-model="thanh_toan_khi_dat_hang" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Thanh toán sau khi giao hàng</label>
                                        <input type="number" ng-model="thanh_toan_sau_giao_hang" />
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-2">Nội dung PAKD</label>
                                    <div class="col-md-10">
                                        <input type="text" ng-model="noi_dung_phuong_an_kinh_doanh" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label class="col-md-2">Hóa đơn chứng từ</label>
                                    <div class="col-md-6">
                                        <select class="form-control select" ng-model="hoa_don_chung_tu" id="adddieukhoanthanhtoan"
                                                data-ng-options="item as item for item in hoadonchungtu"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button class="btn btn-default" ng-click="CreatePO()">Lên PO</button>
                                <button class="btn" data-dismiss="modal">Exit</button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="gopbaogia" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg" style="width:50%">
                        <div class="modal-content" style="border-radius: 15px">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title" id="myModalLabel">Gộp báo giá</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-6">
                                    <label class="col-md-4">Báo giá 1</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" placeholder="Báo giá 1" ng-model="baogia1" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Báo giá 2</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" placeholder="Báo giá 2" ng-model="baogia2" />
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="GopBaoGia()" class="btn btn-default">Gộp báo giá</button>
                                <button class="btn" data-dismiss="modal">Exit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>

</script>
