@{
    Layout = null;
}
<link href="~/Content/self-writing/css/KhoXuat.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Controllers/KhoXuat/KhoXuat.js"></script>
<div ng-app="myApp" ng-controller="KhoXuatController" class="panel-group">
    <br />
    <br />
    <div class="class=" content"">
        <div class="col-md-9">
            <div>
                <input type="hidden" id="isadmin" value="@Session["IS_AMIN"]" />
                <input type="hidden" id="username" value="@Session["USERNAME"]" />
                <table class="table " cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã số PO</th>
                            <th>Ngày lên PO</th>
                            <th>Mã Điều chỉnh</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Tên liên hệ </th>
                            <th>Tên công ty</th>
                            <th>Nhân viên</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListHangGiuQuaNgayGiao" itemsPerPage: 30 class="hover" ng-class-odd="'odd'" ng-class-even="'even'" pagination-id="phanhoi" ng-click="DanLink(item.MA_SO_PO);">
                            <td class="text-left">{{item.MA_SO_PO}}</td>
                            <td class="text-left">{{item.NGAY_LEN_PO | date:'dd/MM/yyyy'}}</td>
                            <td class="text-left">{{item.MA_DIEU_CHINH}}</td>
                            <td class="text-left">{{item.SO_LUONG}}</td>
                            <td class="text-left">{{item.DON_GIA | currency:""}}</td>
                            <td class="text-left">{{item.TEN_LIEN_HE}}</td>
                            <td class="text-left">{{item.TEN_CONG_TY}}</td>
                            <td class="text-left">{{item.HO_VA_TEN}}</td>

                        </tr>
                        <!--Detail row-->
                        <tr dir-paginate-end=""></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9" style="border: none !important">
                                <dir-pagination-controls pagination-id="phanhoi" max-size="12" style="float:left;"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <div class="col-md-3">
            <table class="table" border="1" id="chitiet">
                <tr>
                    <td class="text-center"><p style="text-shadow: 1px 1px 5px #91DDFD; font-style:italic; font-size: 14px;text-align:center; color: #64B5F6; margin-left:10px; margin-top:5px;margin-bottom:5px; font-weight: bold">Hàng giữ chưa bán</p></td>
                </tr>
                <tr>
                    <td>
                        <div style="height:410px;overflow-y:auto;">
                            <table class="table" ;cursor:pointer;">
                                <tr ng-repeat="item in ListHangGiuChuaBan" ng-click="DanLink(item.MA_SO_PO);">
                                    <td colspan="2">{{item.MA_SO_PO}}</td>
                                    <td>{{item.NGAY_LEN_PO | date:'dd/MM/yyyy'}}</td>
                                </tr>


                            </table>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="text-center"><p style="text-shadow: 1px 1px 5px #91DDFD; font-style:italic; font-size: 14px;text-align:center; color: #64B5F6; margin-left:10px; margin-top:5px;margin-bottom:5px; font-weight: bold">Sắp đến ngày xuất</p></td>
                </tr>
                <tr>
                    <td>
                        <div style="height:200px; overflow-y:auto;">
                            <table class="table">
                                <tr ng-repeat="item in ListHangGiuSapDenNgayXuat" ng-click="DanLink(item.MA_SO_PO);">
                                    <td colspan="2">{{item.MA_SO_PO}}</td>
                                    <td>{{item.NGAY_LEN_PO | date:'dd/MM/yyyy'}}</td>

                                </tr>

                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><p style="text-shadow: 1px 1px 5px #91DDFD; font-style:italic; font-size: 14px; color: #64B5F6; margin-left:10px; margin-top:5px;margin-bottom:5px; font-weight: bold; text-align:center;">Hàng giữ đã bán</p></td>
                </tr>
                <tr>
                    <td>
                        <div style="height:200px; overflow-y:auto;">
                            <table class="table" style="cursor:pointer;">
                                <tr ng-repeat="item in ListHangGiuDaBan" ng-click="DanLink(item.MA_SO_PO);">
                                    <td colspan="2">{{item.MA_SO_PO}}</td>
                                    <td>{{item.NGAY_LEN_PO | date:'dd/MM/yyyy'}}</td>

                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>




            </table>
        </div>
    </div>
</div>

