@{
    Layout = null;
}
<link href="~/Content/self-writing/css/KhoXuat.css" rel="stylesheet" />

<link href="~/Content/assets/css/components.css" rel="stylesheet" />
<link href="~/Content/assets/css/core.css" rel="stylesheet" />
<link href="~/Content/assets/css/colors.css" rel="stylesheet" />
<link href="~/Content/download/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/XuatKhoBanHang.css" rel="stylesheet" />
<script src="~/Content/assets/js/plugins/ui/moment/moment.min.js"></script>
<script src="~/Content/assets/js/plugins/pickers/datepicker.js"></script>
<script src="~/Content/assets/js/plugins/pickers/daterangepicker.js"></script>
<script src="~/Content/assets/js/plugins/notifications/pnotify.min.js"></script>
<script src="~/Content/Scripts/daterangepicker.js"></script>
<script src="~/Content/Scripts/moment.min.js"></script>
<script src="~/Content/download/date_directive.js"></script>
<script src="~/Content/download/bootstrap-datetimepicker.js"></script>
<script src="~/Content/self-writing/js/Controllers/KhoXuat/KhoXuat.js"></script>
<style>
    .panel {
        margin-bottom: 1px !important;
        border: none !important;
    }

    th {
        background-color: #64B5F6;
        color: white;
    }

    #myModal .col-md-12 {
        margin: 10px 0px;
    }

    input::-webkit-input-placeholder {
        font-style: italic;
        font-size: 11px;
    }

    input:-moz-placeholder {
        font-style: italic;
        font-size: 12px;
    }

    input:-ms-input-placeholder {
        font-style: italic;
        font-size: 12px;
    }



    .ng-pristine {
        border: none;
    }

    .form-control {
        border: none !important;
    }

    table {
        float: left;
    }

    #themmoikhach td, tr, th {
        height: 45px !important;
    }
</style>
<div class=""  ng-app="myApp" ng-controller="KhoXuatController">
    <!-- Dashboard content -->
    <div class="container">
        @*<div class="col-md-12">
            <div class="panel panel-white">*@
        <input type="hidden" id="isadmin" value="@Session["IS_AMIN"]" />
        <input type="hidden" id="username" value="@Session["USERNAME"]" />
        <br />
        <br />

        <table border='1' style="width:85%" id="themmoikhach">
            <tr>
                <td colspan='11'><p style="text-shadow: 1px 1px 5px #91DDFD; font-style:italic; font-size: 20px;float:left; color: #64B5F6; margin-left:10px; margin-top:5px;margin-bottom:5px; font-weight: bold">THÔNG TIN CHUNG</p></td>
            </tr>
            <tr>
                <td colspan="11">
                    <table border="1" style="width: 100%">
                        <tr>
                            <td class="text-left"><label class="form-control">Khách hàng</label></td>
                            <td>
                                <input type="text" ng-model="GeneralInfo.KhachHang" class="form-control showtableselect">  
                            </td>
                            <td style="width:50%" colspan="7"><input type="text" class="form-control" ng-model="GeneralInfo.TenDoiTuong"></td>
                            <td style="width:10%"><label class="form-control">Ngày hạch toán</label></td>
                            <td style="width:10%">
                                <input type="text" ng-model="GeneralInfo.NgayHachToan" date='dd/MM/yyyy' class="form-control datetimepickerKT">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="form-control">Địa chỉ</label></td>
                            <td colspan="8"><input type="text" ng-model="GeneralInfo.DiaChi" class="form-control"></td>
                            <td><label class="form-control">Ngày chứng từ</label></td>
                            <td>
                               <input type="text" ng-model="GeneralInfo.NgayChungTu"  date='dd/MM/yyyy' class="form-control datetimepickerKT">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="col-md-12">MST</label></td>
                            <td colspan="4"><input type="text" ng-model="GeneralInfo.MST" class="form-control"></td>
                            <td class="text-left" style="width:10%"><label class="col-md-12">Email</label></td>
                            <td colspan="5"><input type="text" ng-model="GeneralInfo.Email" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="col-md-12">SĐT</label></td>
                            <td colspan="4"><input type="text" ng-model="GeneralInfo.SDT" class="form-control"></td>
                            <td class="text-left" style="width:10%"><label class="col-md-12">Fax</label></td>
                            <td colspan="5"><input type="text" ng-model="GeneralInfo.Fax" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="col-md-12">Lý do xuất</label></td>
                            <td colspan="10"><input type="text" ng-model="GeneralInfo.DienGiai" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="col-md-12">Nhân viên bán hàng</label></td>
                            <td colspan="10">
                                <input type="text" ng-model="GeneralInfo.NhanVienBanHang" class="form-control showtableselect">    
                            </td>
                           
                        </tr>


                    </table>
                </td>
            </tr>
            <tr>
                <td colspan='11'><p style="text-shadow: 1px 1px 5px #91DDFD; font-style:italic; font-size: 20px;float:left; color: #64B5F6; margin-left:10px; margin-top:5px;margin-bottom:5px; font-weight: bold">HẠCH TOÁN</p></td>
            </tr>
            <tr>
                <td colspan="11">
                    <table border='1' style="width:100%">
                        <tr>
                            <th style="width:15%" class="text-center">Mã chuẩn</th>
                            <th style="width:10%" class="text-center">Mã điều chỉnh</th>
                            <th style="width:15%" class="text-center">Tên hàng</th>
                            <th style="width:10%" class="text-center">Tên kho</th>
                            <th style="width:5%" class="text-center">TK Kho</th>
                            <th style="width:5%" class="text-center">TK nợ</th>
                            <th style="width:5%" class="text-center">TK có</th>
                            <th style="width:5%" class="text-center">ĐVT</th>
                            <th style="width:3%" class="text-center">SL</th>
                            <th style="width:10%" class="text-center">Đơn giá</th>
                            <th style="width:10%" class="text-center">Thành tiền</th>
                            <th style="width:5%" class="text-center">Đơn giá vốn</th>
                      
                        </tr>
                        <tr ng-repeat="(index,item) in Detail.ListAdd">
                            <td>
                                 <input type="text" ng-model="item.MA_CHUAN" class="input showtableselect" ng-change="SearchHH(item.MA_CHUAN)">
                            </td>
                            <td colspan="1">
                                <input type="text" ng-model="item.MA_DIEU_CHINH" class="input">
                            </td>
                            <td colspan="1">
                                <input type="text" ng-model="item.TEN_HANG" class="input">
                            </td>
                            <td colspan="1">
                               <input type="text" ng-model="item.TEN_KHO" class="input showtableselect">
                            </td>
                            <td colspan="1">
                                <input type="text" ng-model="item.TK_KHO" class="input">
                            </td>
                            <td colspan="1">
                                <input type="text" ng-model="item.TK_NO" class="input">
                            </td>
                            <td colspan="1">
                                <input type="text" ng-model="item.TK_CO" class="input">
                            </td>
                            <td colspan="1">
                                <input type="text" ng-model="item.DVT" class="input">
                            </td>
                            <td colspan="1">
                                <input type="number" ng-model="item.SO_LUONG" class="input">
                            </td>
                            <td colspan="1" style="text-align: right;">
                                <input type="text" ng-model="item.DON_GIA_BAN" format="number" class="input" style="text-align: right;">
                            </td>
                            <td colspan="1" style="text-align: right;">
                                <input type="text" ng-model="item.THANH_TIEN" format="number" class="input" style="text-align: right;">
                            </td>
                            <td colspan="1">
                                <input type="text" ng-model="item.DON_GIA_VON" format="number" class="input">
                            </td>
                           

                        </tr>
                    </table>
                </td>
            </tr>
           
        </table>

        <table border="1" style="width:15% !important;" id="themmoikhach">
            <tr>
                <td class="text-left"><input ng-model="GeneralInfo.TuKhoa" type="text" placeholder="Từ khóa cần tìm"></td>
            </tr>
            <tr>
                <td class="text-left"><input type="text" datepicker ng-model="GeneralInfo.Ngay" placeholder="Ngày cần tìm"></td>
            </tr>
            <tr>
                <td><button class="btn btn-primary" ng-click="SearchPhieuXuatKho(GeneralInfo.TuKhoa, GeneralInfo.Ngay)">Lấy dữ liệu</button></td>
            </tr>
            <tr>
                <td class="text-center"><p class="blink_me" style="text-shadow: 1px 1px 5px #91DDFD; font-style:italic; font-size: 14px;text-align:center; color: red; margin-left:10px; margin-top:5px;margin-bottom:5px; font-weight: bold">List xuất hàng</p></td>
            </tr>
            <tr>
                <td>
                    <div style="height:800px;overflow-y:auto;">
                        <table style="width:100%;cursor:pointer;">
                            <tr>
                                <th colspan="2" class="text-left">Mã đơn</th>
                                <th class="text-left">Ngày</th>
                            </tr>
                            <tr ng-repeat="item in ListXuatHang" ng-click="SelectList(item)">
                                <td colspan="2" class="text-left">{{item.SO_CHUNG_TU}}</td>
                                <td class="text-left">{{item.NGAY_CHUNG_TU | date:'dd/MM/yyyy'}}</td>
                            </tr>

                        </table>
                    </div>

                </td>
            </tr>
            

        </table>
        @*</div>
            </div>*@

    </div>
    <!-- /dashboard content -->
</div>
<style>
    .input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 0px 5px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: transparent;
        background-image: none;
    }

    bordered > tfoot > tr > td {
        border: 1px solid #eeeeee !important;
    }
</style>

