

<script src="~/Content/self-writing/js/Controllers/RouteCtrl.js"></script>
<script src="~/Content/self-writing/js/Controllers/HangCanXuatCtrl.js"></script>
<link href="~/Content/self-writing/css/Kinhdoanh/hangcangxuat.css" rel="stylesheet" />
<div class="panel-heading">
    <marquee width="80%">Bạn đang xem danh mục hàng cần xuất</marquee>
</div>
<div ng-app="myApp"
     ng-controller="HomeHangCanXuatCtrl"
     layout="column">

    <md-tabs md-stretch-tabs
            md-selected="selectedIndex">
        <md-tab label="List hàng cần xuất"></md-tab>
        <md-tab label="List hàng cần xuất đã giữ"></md-tab>
        <md-tab label="List hàng cần xuất chưa giữ"></md-tab>
        <md-tab label="List hàng cần xuất cần đặt hàng"></md-tab>
        <md-tab label="List hàng cần xuất đã đặt hàng"></md-tab>
        <md-tab label="List hàng cần xuất đã bán"></md-tab>
    </md-tabs>

    <div id="content" ui-view flex> </div>

</div>
