<style>
    .table > tbody > tr > td {
        border-top: 0px !important;
    }

    .mustborder td {
        border: 1px solid black !important;
    }
</style>
<script src="~/Content/self-writing/js/Controllers/PrintPhieuXuatKho.js"></script>
@*<div ng-controller="PrintPhieuXuatKhoCtrl">
        <div id="printSectionId">
            <table class="table" cellpadding="0" cellspacing="0">

                <tbody>
                    <tr height="20" style="border-bottom: 1px solid black;border-top: 1px solid black;">
                        <td colspan="10" dir="LTR" height="20" style="height:20px;width:609px;border: 1px solid black;">
                            Công ty cổ phần công nghệ Hợp Long
                        </td>
                        <td colspan="4" style="width:312px;border: 1px solid black;">
                            Mẫu số: 02 - VT
                        </td>
                    </tr>
                    <tr height="20">
                        <td colspan="10" dir="LTR" height="20" style="height:20px;width:609px;border-left:  1px solid black;">
                            Số 6, Ngõ 293, Đường Tân Mai, Phường Tân Mai, Quận Hoàng Mai, Thành phố Hà Nội, Việt Nam
                        </td>
                        <td colspan="4" rowspan="2" style="width:312px;border: 1px solid black;">
                            (Ban hành theo QĐ số 48/2006/QĐ-BTC Ngày 14/09/2006 của Bộ trưởng BTC)
                        </td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td colspan="10" style="border-left:  1px solid black"></td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td colspan="14" height="40" align="center" rowspan="2" style="height:40px;border: 1px solid black;">
                            <h2>PHIẾU XUẤT KHO</h2>
                        </td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;"></tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td align="center" colspan="14" style="border: 1px solid black;">
                            Ngày: {{thongtinchung.NGAY_CHUNG_TU | date: 'dd/MM/yyyy'}}
                        </td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td align="center" colspan="14" style="border: 1px solid black;">
                            Số: {{thongtinchung.SO_CHUNG_TU}}
                        </td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td height="20" colspan="14" style="height:20px;border: 1px solid black;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td align="left" colspan="14" height="20" style="height:20px;border: 1px solid black;">
                            - Họ và tên người nhận hàng : {{thongtinchung.TEN_CONG_TY}}
                        </td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td align="left" colspan="14" height="20" style="height:20px;border: 1px solid black;">
                            - Địa chỉ (bộ phận): {{thongtinchung.DIA_CHI_XUAT_HOA_DON}}
                        </td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td align="left" colspan="14" height="20" style="height:20px;border: 1px solid black;">
                            - Lý do xuất : {{thongtinchung.LY_DO_XUAT}}
                        </td>
                    </tr>
                    <tr height="21" style="border-bottom: 1px solid black;">
                        <td colspan="2" dir="LTR" height="21" style="height:21px;border: 1px solid black">
                            - Xuất tại kho (ngăn lô):
                        </td>
                        <td colspan="1" dir="LTR" style="width:411px;;border: 1px solid black">
                            {{thongtinchitiet[0].MA_KHO_CON}}
                        </td>
                        <td align="left" colspan="11" dir="LTR" style="border: 1px solid black;">
                            Địa điểm:
                        </td>
                    </tr>
                    <tr height="20" style="border-bottom: 1px solid black;">
                        <td dir="LTR" height="20" colspan="14" style="height:20px;border: 1px solid black;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="20" class="mustborder">
                        <td height="40" rowspan="2" style="height:40px;border: 1px solid black;">
                            STT
                        </td>
                        <td colspan="4" rowspan="2" style="width:288px;border: 1px solid black;">
                            Tên, Nhãn Hiệu, Quy cách, Phẩm chất vật tư, dụng cụ sản phẩm, hàng hóa
                        </td>
                        <td colspan="2" rowspan="2" style="border: 1px solid black;">
                            Mã số hàng hóa
                        </td>
                        <td rowspan="2" style="width:55px;border: 1px solid black;">
                            Đơn vị tính
                        </td>
                        <td colspan="4" style="border: 1px solid black;">
                            Số lượng
                        </td>
                        <td rowspan="2" style="border: 1px solid black;">
                            Đơn gía
                        </td>
                        <td rowspan="2" style="border: 1px solid black;">
                            Thành tiền
                        </td>
                    </tr>
                    <tr height="20" class="mustborder">
                        <td colspan="2" height="20" style="height:20px;border: 1px solid black;">
                            Yêu cầu
                        </td>
                        <td colspan="2" style="border: 1px solid black;">
                            Thực xuất
                        </td>
                    </tr>
                    <tr height="31" class="mustborder"  ng-repeat="item in thongtinchitiet">
                        <td align="right" height="31" style="height:31px;border: 1px solid black;">
                            {{$index + 1}}
                        </td>
                        <td colspan="4" style="border: 1px solid black;">
                            {{item.TEN_HANG}}
                        </td>
                        <td colspan="2" style="border: 1px solid black;">
                            {{item.MA_CHUAN}}
                        </td>
                        <td align="left" style="border: 1px solid black;">
                            {{item.DVT}}
                        </td>
                        <td colspan="2" style="border: 1px solid black;">
                            {{item.SO_LUONG}}
                        </td>
                        <td colspan="2" style="border: 1px solid black;">
                            &nbsp;
                        </td>
                        <td align="left" style="border: 1px solid black;">
                            {{item.DON_GIA_BAN | currency: '' }}
                        </td>
                        <td align="left" style="border: 1px solid black;">
                            {{item.THANH_TIEN | currency: '' }}
                        </td>
                    </tr>
                    <tr height="31" class="mustborder">
                        <td colspan="8" height="31" style="height:31px;border: 1px solid black;">
                            Cộng
                        </td>
                        <td colspan="2" style="border: 1px solid black;">
                            {{tongsoluong}}
                        </td>
                        <td colspan="2" style="border: 1px solid black;">
                            &nbsp;
                        </td>
                        <td style="border: 1px solid black;">
                            &nbsp;
                        </td>
                        <td align="left" style="border: 1px solid black;">
                           {{tong_tien | currency: ''}}
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20" colspan="14" style="height:20px;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="25">
                        <td height="25" style="height:25px;">
                            &nbsp;
                        </td>
                        <td colspan="3" dir="LTR">
                            - Tổng số tiền (Viết bằng chữ):
                        </td>
                        <td colspan="10" dir="LTR">
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="25">
                        <td height="25" style="height:25px;">
                            &nbsp;
                        </td>
                        <td colspan="3" dir="LTR">
                            - Số chứng từ gốc kèm theo:
                        </td>
                        <td colspan="10" dir="LTR">
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20" style="height:20px;">
                            &nbsp;
                        </td>
                        <td dir="LTR">
                            &nbsp;
                        </td>
                        <td dir="LTR">
                            &nbsp;
                        </td>
                        <td dir="LTR">
                            &nbsp;
                        </td>
                        <td dir="LTR">
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20" colspan="7" style="height:20px;">
                            &nbsp;
                        </td>
                        <td colspan="7" dir="LTR">
                            Ngày ........... Tháng ............. Năm .............
                        </td>
                        <td dir="LTR">
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="20">
                        <td height="20" colspan="14" style="height:20px;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr height="21" style="width: 100%">
                        <td colspan="14">
                            <table class="table" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="3" align="center">Người lập phiếu</td>
                                    <td></td>
                                    <td colspan="3" align="center">Người nhận hàng</td>
                                    <td></td>
                                    <td colspan="2" align="center">Thủ kho</td>
                                    <td colspan="3" align="center">Kế toán trưởng</td>
                                    <td colspan="3" align="center">Giám đốc</td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">(Ký,ghi rõ họ tên)</td>
                                    <td></td>
                                    <td colspan="3" align="center">(Ký,ghi rõ họ tên)</td>
                                    <td></td>
                                    <td colspan="2" align="center">(Ký,ghi rõ họ tên)</td>
                                    <td colspan="3" align="center">(Hoặc bộ phận có nhu cầu)</td>
                                    <td colspan="3" align="center">(Ký,ghi rõ họ tên,đóng dấu)</td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">&nbsp;</td>
                                    <td></td>
                                    <td colspan="3" align="center">&nbsp;</td>
                                    <td></td>
                                    <td colspan="2" align="center">&nbsp;</td>
                                    <td colspan="3" align="center">(Ký,ghi rõ họ tên)</td>
                                    <td colspan="3" align="center">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button ng-click="printToCart('printSectionId')" class="button">Print</button>
    </div>*@
   
<div ng-controller="PrintPhieuXuatKhoCtrl">
    <div id="printSectionId">
        <table border="0" cellpadding="0" cellspacing="0" class="table">

            <tbody>
                <tr height="17">
                    <td colspan="1" rowspan="5">&nbsp;</td>
                    <td colspan="3" rowspan="5" align="center" style="width:209px;">
                        <img alt="logo" height="100" src="~/logo_hoplong.png" width="130" />
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td height="17" style="height:17px;">
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td align="left" colspan="6">
                        <b style="font-size:20px">CÔNG TY CỔ PHẦN CÔNG NGHỆ HỢP LONG</b>
                    </td>

                </tr>

                <tr height="19">

                    <td align="left" colspan="6">
                        <i><b>Đ/c:</b> Số 6, ngõ 293, đường Tân Mai, P.Tân Mai, Q.Hoàng Mai TP.Hà Nội, Việt Nam</i>

                    </td>

                </tr>
                <tr height="17">

                    <td align="left" colspan="6">
                        <i><b>ĐĐKD1:</b> Số 412 Trần Khát Chân, P.Thanh Nhàn, Q.Hai Bà Trưng, Hà Nội</i>
                    </td>

                </tr>
                <tr height="17">

                    <td align="left" colspan="6">
                        <i><b>ĐĐKD2:</b> Số 96 Kim Ngưu, P.Thanh Nhàn, Q.Hai Bà Trưng, Hà Nội</i>
                    </td>

                </tr>

                <tr height="20">
                    <td colspan="10">
                        &nbsp;
                    </td>
                </tr>
                <tr height="23">
                    <td colspan="8" height="23" style="height:24px;">
                        &nbsp;
                    </td>
                    <td colspan="2" dir="LTR">
                        Mẫu số: 02 - VT
                    </td>
                </tr>
                <tr height="38">
                    <td colspan="8" height="38" style="height:38px;">
                        &nbsp;
                    </td>
                    <td colspan="2" dir="LTR" style="width:877px;">
                        (Ban h&agrave;nh theo Th&ocirc;ng tư số 133/2016/TT-BTC<br />
                        Ng&agrave;y 26/08/2016 của Bộ T&agrave;i ch&iacute;nh)
                    </td>
                </tr>
                <tr height="3">
                    <td colspan="10" height="3" style="height:4px;">
                        &nbsp;
                    </td>
                </tr>
                <tr height="30">
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="5" dir="LTR" height="30" style="height:31px;">
                        <b>PHIẾU XUẤT KHO</b>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="5" dir="LTR">
                        Ngày: {{thongtinchung.NGAY_CHUNG_TU | date: 'dd/MM/yyyy'}}
                    </td>
                    <td dir="LTR">
                        Nợ:
                    </td>
                    <td dir="LTR">
                        632
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="5" dir="LTR">
                        Số: {{thongtinchung.SO_CHUNG_TU}}
                    </td>
                    <td dir="LTR">
                        Có:
                    </td>
                    <td dir="LTR">
                        1561
                    </td>
                </tr>
                <tr height="23">
                    <td colspan="10" dir="LTR" height="23" style="height:24px;width:2160px;">
                        - Họ tên người nhận hàng: {{thongtinchung.TEN_CONG_TY}}
                    </td>
                </tr>
                <tr height="39">
                    <td colspan="10" dir="LTR" height="39" style="height:39px;width:2160px;">
                        - Địa chỉ (bộ phận): {{thongtinchung.DIA_CHI_XUAT_HOA_DON}}
                    </td>
                </tr>
                <tr height="23">
                    <td colspan="10" dir="LTR" height="23" style="height:24px;width:2160px;">
                        - Lý do xuất : {{thongtinchung.LY_DO_XUAT}}
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        &nbsp;
                    </td>
                </tr>
                <tr height="27" >
                    <td colspan="12" style="width: 100%">
                        <table style="width: 100%" border="1">
                            <tr>
                                <td rowspan="2">
                                    STT
                                </td>
                                <td colspan="2" rowspan="2" >
                                    Tên, nhãn hiệu, quy cách, phẩm chất vật tư, dụng cụ sản phẩm, hàng hóa
                                </td>
                                <td colspan="2" rowspan="2" >
                                    Mã số
                                </td>
                                <td rowspan="2" >
                                    Đơn vị tính
                                </td>
                                <td colspan="2" >
                                    Số lượng
                                </td>
                                <td rowspan="2">
                                    Đơn giá;
                                </td>
                                <td rowspan="2" >
                                    Thành tiền
                                </td>
                            </tr>
                            <tr height="20" class="mustborder">
                                <td style="border: 1px solid black; ">
                                    Yêu cầu
                                </td>
                                <td style="border: 1px solid black;">
                                    Thực xuất
                                </td>
                            </tr>
                            <tr height="24" ng-repeat="item in thongtinchitiet">
                                <td>
                                    {{$index + 1}}
                                </td>
                                <td colspan="2">
                                    {{item.TEN_HANG}}
                                </td>
                                <td colspan="2" >
                                    {{item.MA_CHUAN}}
                                </td>
                                <td dir="LTR">
                                    {{item.DVT}}
                                </td>
                                <td >
                                    {{item.SO_LUONG}}
                                </td>
                                <td >
                                    &nbsp;
                                </td>
                                <td>
                                    {{item.DON_GIA_BAN | currency: '' }}
                                </td>
                                <td >
                                    {{item.THANH_TIEN | currency: '' }}
                                </td>
                            </tr>

                            <tr height="23">
                                <td>
                                    &nbsp;
                                </td>
                                <td colspan="2">
                                    Cộng
                                </td>
                                <td colspan="2">
                                    &nbsp;
                                </td>
                                <td dir="LTR">
                                    &nbsp;
                                </td>
                                <td>
                                    {{tongsoluong}}
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    {{tong_tien | currency: ''}}
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td colspan="10">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="10" dir="LTR">
                        - Tổng số tiền (Viết bằng chữ): {{so_tien_bang_chu}}
                    </td>

                </tr>
                <tr>
                    <td colspan="10">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="10" dir="LTR">
                        - Số chứng từ gốc kèm theo:
                    </td>
                </tr>
                <tr>
                    <td colspan="10"></td>
                </tr>
                <tr>
                    <td colspan="10"></td>
                </tr>
                <tr>
                    <td colspan="8" dir="LTR" style="width:80%"></td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        Ngày ..... tháng ..... năm .........
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        &nbsp;
                    </td>
                </tr>

                <tr>
                    <td colspan="2" dir="LTR" style="width:20%">
                        Người lập phiếu
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%"> 
                        Người nhận hàng
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        Thủ kho
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        Kế toán trưởng
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        Giám đốc
                    </td>
                </tr>
                <tr >
                    <td colspan="2" style="width:20%">
                        (Ký, họ tên)
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        (Ký, họ tên)
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        (Ký, họ tên)
                    </td>
                    <td colspan="2" style="width:20%">
                        (Hoặc bộ phận có nhu cầu nhập)
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        (Ký, họ tên, đóng dấu)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:20%">
                        &nbsp;
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        &nbsp;
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        &nbsp;
                    </td>
                    <td colspan="2" style="width:20%">
                        (Ký, họ tên)
                    </td>
                    <td colspan="2" dir="LTR" style="width:20%">
                        &nbsp;
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <button ng-click="printToCart('printSectionId')" class="button">Print</button>
</div>
<p>
    &nbsp;
</p>