
@{
    ViewBag.Title = "HangCanDatHome";
}

<script src="~/Content/self-writing/js/Controllers/RouteCtrl.js"></script>
<script src="~/Content/self-writing/js/Services/HangCanDatService.js"></script>
<script src="~/Content/self-writing/js/Controllers/HangCanDatCtrl.js"></script>
<link href="~/Content/self-writing/css/Kinhdoanh/hangcangxuat.css" rel="stylesheet" />
<style>
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #00BFFF;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

        ::-webkit-scrollbar-thumb:window-inactive {
            background: #00BFFF;
        }
</style>
<div class="panel-heading">
    <marquee width="80%">Bạn đang xem danh mục hàng cần xuất</marquee>
</div>
<div ng-app="myApp"
     ng-controller="HomeHangCanDatCtrl"
     layout="column">

    <md-tabs md-stretch-tabs
             md-selected="selectedIndex">
        <md-tab label="List hàng cần đặt"></md-tab>
        <md-tab label="List hàng cần đặt (chưa đặt)"></md-tab>
        <md-tab label="List hàng cần đặt (đã đặt)"></md-tab>
    </md-tabs>

    <div id="content" ui-view flex> </div>

</div>


