@{ Layout = null;
}

<script src="~/Content/self-writing/js/Services/HangCanDatService.js"></script>
<script src="~/Content/self-writing/js/Controllers/HangCanDatCtrl.js"></script>

<div ng-app="myApp" ng-controller="HangCanDatCtrl" class="content">
    <input type="hidden" value="@Session["USERNAME"]" id="username" />
    <input type="hidden" value="@Session["IS_AMIN"]" id="isadmin" />
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Mã số PO</th>
                    <th>Ngày lên PO</th>
                    <th>Mã điều chỉnh</th>
                    <th>Khách hàng</th>
                    <th>Người liên hệ</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Ngày giao hàng</th>
                    <th>Địa điểm giao hàng</th>
                    <th>Nhân viên quản lý</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list_hangcandatdadat_kinhdoanh">
                    <td>{{item.MA_SO_PO}}</td>
                    <td>{{item.NGAY_LEN_PO | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.MA_DIEU_CHINH}}</td>
                    <td>{{item.TEN_CONG_TY}}</td>
                    <td>{{item.TEN_LIEN_HE}}</td>
                    <td>{{item.SO_LUONG}}</td>
                    <td>{{item.DON_GIA | currency: '' : 0}}</td>
                    <td>{{item.NGAY_GIAO_HANG | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.DIA_DIEM_GIAO_HANG}}</td>
                    <td>{{item.HO_VA_TEN}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th colspan="2" class="border-td"><h4>Hàng chưa đặt</h4></th>
            </tr>
            <tr>
                <td class="border-td">
                    <div style="height: 400px;overflow:auto">
                        <table class="table right-table">
                            <thead>
                                <tr>
                                    <th>Mã điều chỉnh</th>
                                    <th>Ngày giao hàng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list_hangcandatchuadat_kinhdoanh">
                                    <td>{{item.MA_DIEU_CHINH}}</td>
                                    <td>{{item.NGAY_GIAO_HANG | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="border-td" colspan="2"><h4>Hàng đã đặt</h4></th>
            </tr>
            <tr>
                <td class="border-td">
                    <div style="height: 400px;overflow:auto">
                        <table class="table right-table">
                            <thead>
                                <tr>
                                    <th>Mã điều chỉnh</th>
                                    <th>Ngày giao hàng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list_hangcandatdadat_kinhdoanh">
                                    <td>{{item.MA_DIEU_CHINH}}</td>
                                    <td>{{item.NGAY_GIAO_HANG | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>

