
<script src="~/Content/self-writing/js/Controllers/DonHangDaGiuCtrl.js"></script>

<style>
    .border-td {
        border: 1px solid black;
    }

    .table > tbody > tr > td {
        border-top: 1px solid black;
    }

    .table > thead > tr > th {
        border-bottom: 1px solid black;
    }

    h4 {
        color: lightskyblue;
    }
</style>
<div class="" ng-app="myApp" ng-controller="DonHangDaGiuCtrl">
    <div class="col-md-8">
        <input type="hidden" id="isadmin" value="@Session["IS_AMIN"]" />
        <input type="hidden" id="username" value="@Session["USERNAME"]" />

        <table border='1' class="table">
            <tr>
                <td colspan='11'><p style="text-shadow: 1px 1px 5px #91DDFD; font-style:italic; font-size: 20px;float:left; color: #64B5F6; margin-left:10px; margin-top:5px;margin-bottom:5px; font-weight: bold">THÔNG TIN CHUNG</p></td>
            </tr>
            <tr>
                <td colspan="11">
                    <table border="1" style="width: 100%">
                        <tr>
                            <td class="text-left"><label class="form-control">Khách hàng</label></td>
                            <td>
                                <input type="text" ng-model="thongtinchung.MA_KHACH_HANG" class="form-control showtableselect">
                            </td>
                            <td style="width:50%" colspan="9"><input type="text" class="form-control" ng-model="thongtinchung.TEN_CONG_TY"></td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="form-control">Ðịa chỉ</label></td>
                            <td colspan="10"><input type="text" ng-model="thongtinchung.DIA_CHI_XUAT_HOA_DON" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="col-md-12">MST</label></td>
                            <td colspan="4"><input type="text" ng-model="thongtinchung.MST" class="form-control"></td>
                            <td class="text-left" style="width:10%"><label class="col-md-12">Email</label></td>
                            <td colspan="5"><input type="text" ng-model="thongtinchung.EMAIL" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="col-md-12">SÐT</label></td>
                            <td colspan="4"><input type="text" ng-model="thongtinchung.HOTLINE" class="form-control"></td>
                            <td class="text-left" style="width:10%"><label class="col-md-12">Fax</label></td>
                            <td colspan="5"><input type="text" ng-model="thongtinchung.FAX" class="form-control"></td>
                        </tr>
                        <tr>
                            <td class="text-left"><label class="col-md-12">Nhân viên quản lý</label></td>
                            <td colspan="10">
                                <input type="text" ng-model="thongtinchung.HO_VA_TEN" class="form-control showtableselect">
                            </td>

                        </tr>


                    </table>
                </td>
            </tr>
            <tr>
                <td colspan='11'><p style="text-shadow: 1px 1px 5px #91DDFD; font-style:italic; font-size: 20px;float:left; color: #64B5F6; margin-left:10px; margin-top:5px;margin-bottom:5px; font-weight: bold">Chi tiết đơn hàng</p></td>
            </tr>
            <tr>
                <td colspan="11">
                    <table border="1" cellpadding="5" cellspacing="0" style="width:100%">
                        <tbody>
                            <tr height="23">
                                <td colspan="9" height="23" style="height:23px;">
                                    Kính gửi Quý Công Ty!<br />
                                    Trước tiên, Hợp Long xin chân thành cảm ơn quý công ty đã hỗ trợ hợp tác trong thời gian qua.<br />
                                    Chúng tôi gửi tới quý công ty đơn đặt hàng  thiết bị điện công nghiệp và tự động hóa với các chi tiết như sau:
                                </td>
                            </tr>
                            <tr height="17">
                                <td colspan="9" height="17" style="height:17px;">
                                    Thời gian giao hàng : <b>{{thongtinchung.NGAY_GIAO_HANG | date: 'dd/MM/yyyy'}}</b><br />
                                    Địa điểm giao hàng : <b>{{thongtinchung.DIA_DIEM_GIAO_HANG}}</b>
                                </td>
                            </tr>
                            <tr height="45">
                                <th height="52" style="height:45px;">
                                    No.
                                </th>
                                <td colspan="2">
                                    <b>Model</b><span style="font-size: 13px">(Mã hàng)</span>
                                </td>
                                <th style="width:84px;">
                                    Maker/<br />
                                    Original
                                </th>
                                <td style="width:65px;text-align: center;">
                                    <b>Q'ty</b><br />
                                    <span style="font-size: 13px">(Số lượng)</span>
                                </td>
                                <td style="width:47px;text-align: center;">
                                    <b>UOM</b><br />
                                    <span style="font-size: 13px">(Đơn vị)</span>
                                </td>
                                <td style="width:79px;text-align: center;">
                                    <b>U.price</b><br />
                                    <span style="font-size: 13px">(VNĐ)</span>
                                </td>
                                <td style="width:110px; text-align: center;">
                                    <b>Total Amount</b><br />
                                    <span style="font-size: 13px">(VNĐ)</span>
                                </td>
                            </tr>
                            <tr height="30" ng-repeat="item in thongtinchitiet">
                                <td height="30" style="height:30px; text-align: center">{{$index+1}}</td>
                                <td align="left" colspan="2" style="padding:3.5px">
                                    <b>{{item.MA_DIEU_CHINH}} </b>
                                </td>
                                <td style="font-size: 13.5px">
                                    <span style="color:blue">{{item.MA_NHOM_HANG}}</span>
                                    <br /> <center><i>{{item.XUAT_XU}}</i></center>
                                </td>
                                <td style="width:57px; text-align:center">{{item.SO_LUONG}}</td>
                                <td style="width:47px; text-align:center"> {{item.DVT}}</td>
                                <td align="right">{{item.DON_GIA | currency:""}}</td>
                                <td style="width:87px; text-align:right">{{item.THANH_TIEN_HANG | currency:""}}</td>
                            </tr>
                            <tr height="30">
                                <td height="30" colspan="8" style="height:30px;">
                                    &nbsp;
                                </td>
                            </tr>

                            <tr height="30">
                                <td align="center" colspan="6" style="border-left: none;font-weight:bold">
                                    Tổng tiền hàng
                                </td>
                                <td style="width:87px; text-align:right;border-right: 0px;  font-weight:bold">
                                    {{thongtinchung.TONG_TIEN_HANG |number:0}}
                                </td>
                                <td style="border-left: 0px !important">&nbsp;</td>
                            </tr>
                            <tr height="30">
                                <td align="center" colspan="6" style="border-left:none;font-weight:bold">
                                    Thuế VAT 10%
                                </td>
                                <td style="width:87px; text-align:right;  border-right: none;font-weight:bold">
                                    {{thongtinchung.TONG_TIEN_THUE_GTGT | number:0}}
                                </td>
                                <td style="border-left: 0px !important">&nbsp;</td>
                            </tr>

                            <tr height="30">
                                <td align="center" colspan="6" style="border-left: none;font-weight:bold">
                                    Tổng cộng
                                </td>
                                <td style="width:87px;text-align:right;  border-right: none;font-weight:bold">
                                    {{thongtinchung.TONG_TIEN_HANG + thongtinchung.TONG_TIEN_THUE_GTGT |  number:0}}
                                </td>
                                <td style="border-left: 0px !important">&nbsp;</td>
                            </tr>
                            <tr height="30">
                                <td align="center" colspan="8" style="border-left: none;font-weight:bold">
                                    Bằng chữ :{{thongtinchung.SO_TIEN_VIET_BANG_CHU}}
                                </td>
                            </tr>

                            <tr height="17">
                                <td height="17" colspan="8" style="height:17px;">
                                    &nbsp;
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="11"><button type="button" class="btn btn-primary" ng-click="FixThisPO()"><i class="icon-floppy-disk"></i>Sửa đơn PO</button></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td colspan="2" class="border-td"><h4>Đơn hàng đã giữ chưa bán</h4></td>
            </tr>
            <tr>
                <td class="border-td">
                    <div style="height: 400px;overflow:auto">
                        <table class="table right-table">
                            <thead>
                                <tr>
                                    <th>Mã đơn PO</th>
                                    <th>Ngày giao hàng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list_donhangdagiuchuaban" ng-click="get_thongtinchungPO(item)">
                                    <td>{{item.MA_SO_PO}}</td>
                                    <td>{{item.NGAY_LEN_PO | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-td" colspan="2"><h4>Đơn bán hàng đã giữ</h4></td>
            </tr>
            <tr>
                <td class="border-td">
                    <div style="height: 400px;overflow:auto">
                        <table class="table right-table">
                            <thead>
                                <tr>
                                    <th>Mã đơn PO</th>
                                    <th>Ngày giao hàng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in list_donhangdagiu" ng-click="get_thongtinchungPO(item)">
                                    <td>{{item.MA_SO_PO}}</td>
                                    <td>{{item.NGAY_LEN_PO | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
